---
dist: xenial
language: ruby
rvm:
- 2.5.7
- 2.6.5
sudo: required
cache: bundler
env:
  global:
  - RUBY_GC_HEAP_GROWTH_MAX_SLOTS=300000
  - RUBY_GC_HEAP_INIT_SLOTS=600000
  - RUBY_GC_HEAP_GROWTH_FACTOR=1.25
  - BUNDLE_WITH=qpid_proton
addons:
  postgresql: '10'
before_install:
- source ${TRAVIS_BUILD_DIR}/tools/ci/before_install.sh
install: bin/setup
after_script: bundle exec codeclimate-test-reporter
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/7cd7c141092b1e620d7c
    on_success: change
    on_failure: always
    on_start: never
