[Unit]
PartOf=manageiq-providers-openstack_infra_manager_metrics_collector.target
[Install]
WantedBy=manageiq-providers-openstack_infra_manager_metrics_collector.target
[Service]
WorkingDirectory=/var/www/miq/vmdb
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
EnvironmentFile=/etc/default/manageiq*.properties
ExecStart=/usr/bin/ruby lib/workers/bin/run_single_worker.rb ManageIQ::Providers::Openstack::InfraManager::MetricsCollectorWorker --heartbeat --guid=%i
User=manageiq
Restart=no
Type=notify
Slice=manageiq-providers-openstack_infra_manager_metrics_collector.slice
