---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"f1df20309cd84c36"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-9bf3d1c9-a431-4d69-8009-fa36ccf0e318
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T14:25:24.424232", "expires":
        "2017-10-25T15:25:24Z", "id": "d5d88017e5b34c9182b84bfd07082d61", "tenant":
        {"description": "admin tenant", "enabled": true, "id": "288cd03df44f49f9ac9ed82bb4216de2",
        "name": "admin"}, "audit_ids": ["vmqYGIRLSIm1sU5UX57Scg"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "region": "RegionOne", "internalURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "id": "1b07aa2790a84905880a98bafa755f13", "publicURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://10.8.99.242:9696", "region": "RegionOne", "internalURL": "http://10.8.99.242:9696",
        "id": "3319f5185bf04e8fb0d21c2a11828966", "publicURL": "http://10.8.99.242:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://10.8.99.242:8776/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "region": "RegionOne", "internalURL": "http://10.8.99.242:8776/v2/288cd03d[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/os-availability-zone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d5d88017e5b34c9182b84bfd07082d61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6a5b96fb-df65-42b7-9843-203f0b288d1e
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "hosts":
        null, "zoneName": "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:24 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8776/v2/288cd03df44f49f9ac9ed82bb4216de2/os-availability-zone.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 993cf54d454c432689eabe3dfd18708e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-6c5ad86a-8c3d-43a8-a675-bb1aa46c83a4
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-6c5ad86a-8c3d-43a8-a675-bb1aa46c83a4
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "zoneName":
        "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:25 GMT
- request:
    method: post
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"f1df20309cd84c36"},"tenantName":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-7bb63423-f83e-4b43-bc42-68be6c963b06
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T14:25:26.436822", "expires":
        "2017-10-25T15:25:26Z", "id": "18914e3cbdb94764ad2564c9ca8696aa", "audit_ids":
        ["sGadVR89S-OryfxXSBmuBQ"]}, "serviceCatalog": [], "user": {"username": "admin",
        "roles_links": [], "id": "70c7838d439a4bc2a3ac06f7316c6740", "roles": [],
        "name": "admin"}, "metadata": {"is_admin": 0, "roles": []}}}'
  recorded_at: Wed, 25 Oct 2017 14:25:26 GMT
- request:
    method: get
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 18914e3cbdb94764ad2564c9ca8696aa
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-0e9828c5-f761-411b-a8ef-1b817c92c1ba
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants_links": [], "tenants": [{"description": "", "enabled": true,
        "id": "058128ddeb9a4c958bb149a7229a4e85", "name": "EmsRefreshSpec-Project"},
        {"description": "", "enabled": true, "id": "1eda34753af74336ad4db84dd72ce7c0",
        "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"description": "admin tenant",
        "enabled": true, "id": "288cd03df44f49f9ac9ed82bb4216de2", "name": "admin"},
        {"description": "", "enabled": true, "id": "874af5befd034d1fbff0a4d7e0a1bc5d",
        "name": "EmsRefreshSpec-Project2"}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:26 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/os-services?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 738d4d67c575444fa13e620338567869
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-649eb8e5-4790-4b36-91db-f6c369e106a8
    body:
      encoding: ASCII-8BIT
      string: '{"services": [{"status": "enabled", "binary": "nova-consoleauth", "zone":
        "internal", "state": "up", "updated_at": "2017-10-25T14:25:27.000000", "host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason": null,
        "id": 1}, {"status": "enabled", "binary": "nova-scheduler", "zone": "internal",
        "state": "up", "updated_at": "2017-10-25T14:25:27.000000", "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 2}, {"status": "enabled", "binary": "nova-conductor",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T14:25:24.000000",
        "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 3}, {"status": "enabled", "binary": "nova-compute", "zone": "nova",
        "state": "up", "updated_at": "2017-10-25T14:25:26.000000", "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 4}, {"status": "enabled", "binary": "nova-cert",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T14:25:28.000000",
        "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 5}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:29 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/os-services?limit=1000&marker=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 738d4d67c575444fa13e620338567869
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-1aa7fb4c-3e19-4a9f-ae22-496bbeff9323
    body[...]
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/flavors/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 738d4d67c575444fa13e620338567869
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-1b18dfd2-ed76-4910-a5ea-6b7652eba3bd
    body:
      encoding: ASCII-8BIT
      string: '{"flavors": [{"name": "m1.tiny", "links": [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/flavors/1",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/flavors/1",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 1, "id": "1"}, {"name": "m1.small", "links": [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/flavors/2",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/flavors/2",
        "rel": "bookmark"}], "ram": 2048, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}], "flavors_links": [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/flavors/detail?limit=1000&marker=2",
        "rel": "next"}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:31 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/flavors/detail?limit=1000&marker=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 738d4d67c575444fa13e620338567869
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6876cf97-3ad6-40cf-9ad6-4af287c04749
    b[...]
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/7/os-flavor-access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d5d88017e5b34c9182b84bfd07082d61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-e008c902-6185-4358-9dfb-a1e5490f0332
    body:
      encoding: ASCII-8BIT
      string: '{"flavor_access": [{"tenant_id": "058128ddeb9a4c958bb149a7229a4e85",
        "flavor_id": "7"}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:37 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1c4425423ef24800a34998415a7df55e
  response:
    status:
      code: 300
      message: Multiple Choices
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.3", "links": [{"href":
        "http://10.8.99.242:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v2.2", "links": [{"href": "http://10.8.99.242:9292/v2/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v2.1", "links": [{"href": "http://10.8.99.242:9292/v2/",
        "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.0", "links": [{"href":
        "http://10.8.99.242:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v1.1", "links": [{"href": "http://10.8.99.242:9292/v1/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v1.0", "links": [{"href": "http://10.8.99.242:9292/v1/",
        "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:37 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd5ed365d2a947d18f0aab625a319ac2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-2c7c7168-dfbd-455c-839f-64aa56ef6201
    body:
      encoding: ASCII-8BIT
      string: '{"images": [{"image_state": "available", "container_format": "bare",
        "min_ram": 0, "ramdisk_id": null, "updated_at": "2016-08-18T11:58:43Z", "file":
        "/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc/file", "owner": "058128ddeb9a4c958bb149a7229a4e85",
        "base_image_ref": "71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d", "size": 22020096,
        "user_id": "70c7838d439a4bc2a3ac06f7316c6740", "image_type": "snapshot", "self":
        "/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc", "disk_format": "qcow2",
        "id": "81969d94-5752-4e88-af5e-1675b399b7cc", "owner_id": "058128ddeb9a4c958bb149a7229a4e85",
        "status": "active", "image_location": "snapshot", "tags": [], "kernel_id":
        null, "visibility": "private", "min_disk": 1, "virtual_size": null, "instance_uuid":
        "f809bbed-72a9-40ea-9035-b4e63d7ddaac", "name": "EmsRefreshSpec-Shelved-shelved",
        "checksum": "815616d3e73574919c1c41919721d24e", "created_at": "2016-08-18T11:58:37Z",
        "protected": false, "schema": "/v2/schemas/image"}, {"image_state": "available",
        "container_format": "bare", "min_ram": 0, "ramdisk_id": null, "updated_at":
        "2016-08-18T11:58:06Z", "file": "/v2/images/fc8ffd5b-de3f-4af3-88b3-48eee4e46204/file",
        "owner": "058128ddeb9a4c958bb149a7229a4e85", "base_image_ref": "71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d",
        "size": 22020096, "user_id": "70c7838d439a4bc2a3ac06f7316c6740", "image_type":
        "snapshot", "self": "/v2/images/fc8ffd5b-de3f-4af3-88b3-48eee4[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images?limit=1000&marker=71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd5ed365d2a947d18f0aab625a319ac2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-f360e204-af64-4a21-8b8f-4cb25a789aca
    body:
      encoding: ASCII-8BIT
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?limit=1000"}'
  recorded_at: Wed, 25 Oct 2017 14:25:39 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd5ed365d2a947d18f0aab625a319ac2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-1b532adc-d65a-4c33-ab89-dcd93b7521e4
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 14:25:43 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/os-keypairs?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 738d4d67c575444fa13e620338567869
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-4862ab62-1b8f-46c3-bb03-89107098e36a
    body:
      encoding: ASCII-8BIT
      string: '{"keypairs": [{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCWmNMnYPT8p/tPOFOzxGPXcozzLkRVzVaBSE0e5Q82boJiofGIw0v4icSfs4dW+rFp1B920pxbId9birdA1T3U00rhvYbnlcC1ju3jiprQNdv65tZr7ubg+Ec3Xh/qp+eqrBpwr3VTZ6RZL5PjwNOpgI6HSVpkrfY6RSMXNh9YGzLFvvFZFEJU2BwByhstIGud2615oOtYcHLFzxWasxN6I7PqmD/PbQjiajBhZtbognAtEAkC87RDbBZFnzs9c6R4qfmE18uLtk3nLAePe+6hA3YRwjtX7Zd8lxE3ImAmHxvuZIKzllMar7mW3OAvf5EY+D5cKbz0yqRv/lcRQWoT
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair", "fingerprint": "45:e0:3b:70:45:91:26:04:1d:4e:2d:14:e7:aa:57:4b"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCkrWy20D73HQXKVcBZnS0e0OSFQxKy5/mGxT57v1HsWvLir1/ZUKPCTD1IPpdcjydS3aF0QJ33XPCixzbLj182YR3a3NzAitw9NuDFb6aGbPuYHlKkH53nbztz/UkdH9JZv4LVvOMx54QfFj5ZgmQl8CqMt0Toll/m1amGhbfbWxiI6lnY4fqd0UTKnVICa+eU/zFmGXiaemZTX/+GY4d3rhSGAhSfaIH7wNy5x1FVFM4aTgKD5a3UNRkhaFALuErr0jM2IHnbAZTu8yPVDHieRN9RG703+5buV1MiBDm3BWAKGsuq8ON8pLGduHFEMJJFa3GIZw/9ejDsVgIUsEnP
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-2", "fingerprint": "8c:de:46:b4:69:ee:4f:89:28:70:32:a3:31:4f:c7:ca"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDMf9P/7y1+tJ5POayUwBSA2gKXcgZNd1oIy6oaG9uljiO8dPLrWcGGdR1Le9kpYLFTdRxdO/UNYKzoTTHMjpc1aFAAaeBSfavLXo87PEkgvqOTbQGzEk3gTBsPQX1i9Fzv99pJn5hwmZvcQPG6X1sT96urgVQMaoA4OoI5AYXPXgh5qPyuBjbFqiIQqdq8jf5bTrPQ05hgfNCcu4wm+YW9oEHDUlf9ErSc5oSYZOAiwkb9z0mFL+Nn77jJLbvsBAdvhrSni3WeBYCMzPI/9BbZRuz1p38Ux/Ttginhy1HeUCD30vnc7Nywuc9M7/lBQxYcg4U+yegnE+0dMmu9ctet
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-3", "fingerprint": "7f:e1:09:c6:63:60:70:e1:05:85:72:64:7c:0a:e4:71"}}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:44 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/os-keypairs?limit=1000&marker=EmsRefreshSpec-KeyPair-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 738d4d67c575444fa13e620338567869
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-24a54540-b6d8-425c-8cc[...]
[...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5179ef25d18d42e5be1dca5c6947d763
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-b790c018-f5cb-49e0-856a-b3c35d0d3cb3
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": [{"parent": null, "description": "Heat WordPress template
        to support F20, using only Heat OpenStack-native resource types, and without
        the requirement for heat-cfntools in the image. WordPress is web software
        you can use to create a beautiful website or blog. This template installs
        a single-instance WordPress deployment using a local MySQL database to store
        the data.\n", "links": [{"href": "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack3", "stack_user_project_id": "e2c0ea593fb8404cb5808e36b24e8292",
        "creation_time": "2016-08-18T11:52:59Z", "updated_time": null, "stack_owner":
        null, "stack_status": "CREATE_COMPLETE", "id": "960c3d14-205f-4899-a70f-b45b35905bd4"},
        {"parent": null, "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "links": [{"href":
 [...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks?limit=1000&marker=7d7d5883-90e9-4fa6-8f3c-fee2dd0e7aa6&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5179ef25d18d42e5be1dca5c6947d763
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-0d8e9cf1-a900-415e-8ae6-3e1d1a8c86a5
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 14:25:48 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5179ef25d18d42e5be1dca5c6947d763
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-caeda488-2bf7-42c1-9faf-2155c8766662
    body:
      encoding: ASCII-8BIT
      string: '{"stack": {"parent": null, "disable_rollback": true, "description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n", "links": [{"href": "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack3", "stack_user_project_id": "e2c0ea593fb8404cb5808e36b24e8292",
        "stack_owner": null, "creation_time": "2016-08-18T11:52:59Z", "capabilities":
        [], "notification_topics": [], "updated_time": null, "timeout_mins": null,
        "stack_status": "CREATE_COMPLETE", "parameters": {"OS::project_id": "058128ddeb9a4c958bb149a7229a4e85",
        "OS::stack_id": "960c3d14-205f-4899-a70f-b45b35905bd4", "OS::stack_name":
        "stack3", "image_id": "EmsRefreshSpec-Image", "network_id": "a02643f7-b3f2-46fa-bff0-df65c3948616",
        "db_password": "******", "instance_type": "m1.tiny", "db_name": "wordpress",
        "db_username": "******", "db_root_password": "******", "key_name": "EmsRefreshSpec-KeyPair"},
        "id": "960c3d14-205f-4899-a70f-b45b35905bd4", "outputs": [{"output_value":
        "http://192.168.1.5/wordpress", "description": "URL for Wordpress wiki", "output_key":
        "WebsiteURL"}], "template_description": "Heat WordPress template to support
        F20, using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n"}}'
  recorded_at: Wed, 25 Oct 2017 14:25:51 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5179ef25d18d42e5be1dca5c6947d763
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-345ee276-9271-4c90-a9e0-a92a808e6c02
    body:
      encoding: ASCII-8BIT
      string: '{"outputs": {"WebsiteURL": {"description": "URL for Wordpress wiki",
        "value": {"str_replace": {"params": {"host": {"get_attr": ["wordpress_instance",
        "first_address"]}}, "template": "http://host/wordpress"}}}}, "heat_template_version":
        "2013-05-23", "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parameters":
        {"instance_type": {"default": "m1.small", "type": "string", "description":
        "Instance type for WordPress server", "constraints": [{"description": "instance_type
        must be one of m1.small, m1.medium or m1.large", "allowed_values": ["m1.tiny",
        "m1.small", "m1.medium", "m1.large"]}]}, "network_id": {"type": "string",
        "description": "Name or ID of the network to use"}, "db_password": {"default":
        "admin", "hidden": true, "type": "string", "description": "The WordPress database
        admin account password", "constraints": [{"length": {"max": 41, "min": 1},
        "description": "db_password must be between 1 and 41 characters"}, {"allowed_pattern":
        "[a-zA-Z0-9]*", "description": "db_password must contain only alphanumeric
        characters"}]}, "image_id": {"default": "fedora-20.x86_64", "type": "string",
        "description": "Name or ID of the image to use for the WordPress server. Recommended
        values are fedora-20.i386 or fedora-20.x86_64; get them from http://cloud.fedoraproject.org/fedora-20.i386.qcow2
        or http://cloud.fedoraproject.org/fedora-20.x86_64.qcow2 .\n"}, "db_name":
        {"default": "wordpress", [...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5179ef25d18d42e5be1dca5c6947d763
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-1e981f5f-1416-4885-a4ac-e34c9682db22
    body:
      encoding: ASCII-8BIT
      string: '{"resources": [{"resource_name": "wordpress_instance", "links": [{"href":
        "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4/resources/wordpress_instance",
        "rel": "self"}, {"href": "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4",
        "rel": "stack"}], "logical_resource_id": "wordpress_instance", "resource_status":
        "CREATE_COMPLETE", "updated_time": "2016-08-18T11:52:59Z", "required_by":
        [], "resource_status_reason": "state changed", "physical_resource_id": "820cec87-8e57-4182-a79f-4c41ab0e0d21",
        "resource_type": "OS::Nova::Server"}]}'
  recorded_at: Wed, 25 Oct 2017 14:25:53 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 738d4d67c575444fa13e620338567869
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-82a536d0-f7f8-44c2-bb93-5ed0f8ae4d7d
    body:
      encoding: ASCII-8BIT
      string: '{"servers_links": [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/detail?limit=1000&marker=f809bbed-72a9-40ea-9035-b4e63d7ddaac",
        "rel": "next"}], "servers": [{"status": "ACTIVE", "updated": "2016-11-28T21:27:26Z",
        "hostId": "101de76d48eaca7d9550b583251df6040c445be5a2c3b07a88c0c2cc", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:dd:19:c4", "version": 4, "addr": "192.168.1.10",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:dd:19:c4",
        "version": 4, "addr": "172.16.17.18", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/0c5006cb-c3d3-4620-8a7e-0e9bad39f74d",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/servers/0c5006cb-c3d3-4620-8a7e-0e9bad39f74d",
        "rel": "bookmark"}], "key_name": "EmsRefreshSpec-KeyPair", "image": {"id":
        "fc8ffd5b-de3f-4af3-88b3-48eee4e46204", "links": [{"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/images/fc8ffd5b-de3f-4af3-88b3-48eee4e46204",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "OS-EXT-SRV-ATTR:instance_name": "instance-00000009", "OS-SRV-USG:launched_at":
        "2016-08-18T11:58:19.000000", "OS-EXT-SRV-ATTR:hypervisor_hostname": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "flavor": {"id": "6", "links": [{"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/flavors/6",
        "rel": "bookmark"}]}, "id": "0c5006cb-c3d3-4620-8a7e-0e9bad39f74d", "security_groups":
        [{"name": "EmsRefreshSpec-SecurityGroup2"}, {"name": "EmsRefreshSpec-SecurityGroup"}],
        "OS-SRV-USG:terminated_at": null, "OS-EXT-AZ:availability_zone": "nova", "user_id":
        "70c7838d439a4bc2a3ac06f7316c6740", "name": "EmsRefreshSpec-PoweredOn-FromSnapshot",
        "created": "2016-08-18T11:58:09Z", "tenant_id": "058128ddeb9a4c958bb149a7229a4e85",
        "OS-DCF:diskConfig": "MANUAL", "os-extended-volumes:volumes_attached": [],
        "accessIPv4": "", "accessIPv6": "", "progress": 0, "OS-EXT-STS:power_state":
        1, "config_drive": "", "metadata": {}}, {"status": "SHELVED_OFFLOADED", "updated":
        "2016-08-18T11:58:45Z", "hostId": "", "OS-EXT-SRV-ATTR:host": null, "addresses":
[...]
