---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"c2004d455a054b7c"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-d75788e0-b7a1-4b26-89df-ca7235832f2c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T13:48:03.503099", "expires":
        "2017-10-25T14:48:03Z", "id": "5782e104c0f847deb3522947f35e3104", "tenant":
        {"description": "admin tenant", "enabled": true, "id": "e54e5c3c19e34720b05661f2ea1ea00a",
        "name": "admin"}, "audit_ids": ["5OILW5cQQpCgRkXruZ8Yyg"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "region": "RegionOne", "internalURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "id": "33f58c6950134a2381bb3668fae5a325", "publicURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://10.8.99.233:9696", "region": "RegionOne", "internalURL": "http://10.8.99.233:9696",
        "id": "5b097055aff24a40aa4cd2d7317c9108", "publicURL": "http://10.8.99.233:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://10.8.99.233:8776/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "region": "RegionOne", "internalURL": "http://10.8.99.233:8776/v2/e54e5c3c[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-availability-zone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5782e104c0f847deb3522947f35e3104
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-fbf07acd-433e-44f2-9604-950ed406d228
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "hosts":
        null, "zoneName": "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:03 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8776/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-availability-zone.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 8e3dab2c87dd4fd1a6d98c1a553aa2d4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-8d2117a1-d46a-4e4e-b526-e588eef15fda
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-8d2117a1-d46a-4e4e-b526-e588eef15fda
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "zoneName":
        "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:04 GMT
- request:
    method: post
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"c2004d455a054b7c"},"tenantName":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-215d5d43-1f23-45b0-af97-8a8dc07fa3bb
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T13:48:05.035752", "expires":
        "2017-10-25T14:48:05Z", "id": "5e77bb3b66ed4ceab895a92fd94bbab3", "audit_ids":
        ["_eMproLQQoWV9iBur8vVUA"]}, "serviceCatalog": [], "user": {"username": "admin",
        "roles_links": [], "id": "80ea157498b44d08aa6d6f54b8a7c3e7", "roles": [],
        "name": "admin"}, "metadata": {"is_admin": 0, "roles": []}}}'
  recorded_at: Wed, 25 Oct 2017 13:48:05 GMT
- request:
    method: get
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5e77bb3b66ed4ceab895a92fd94bbab3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-62e1152e-d48f-4ac2-9611-73d881c505d8
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants_links": [], "tenants": [{"description": "", "enabled": true,
        "id": "69f8f7205ade4aa59084c32c83e60b5a", "name": "EmsRefreshSpec-Project"},
        {"description": "", "enabled": true, "id": "b458a5c25c3749758f4c0661940b3ba8",
        "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"description": "admin tenant",
        "enabled": true, "id": "e54e5c3c19e34720b05661f2ea1ea00a", "name": "admin"},
        {"description": "", "enabled": true, "id": "e8f744b1fc6a487681d35fb275252608",
        "name": "EmsRefreshSpec-Project2"}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:05 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/os-services?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9d506bf41af49dbaf08e04b5fdf68d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-393c5fe7-c422-4c15-a7b3-05621cfd6e10
    body:
      encoding: ASCII-8BIT
      string: '{"services": [{"status": "enabled", "binary": "nova-consoleauth", "host":
        "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com", "zone": "internal", "state":
        "up", "disabled_reason": null, "id": 1, "updated_at": "2017-10-25T13:48:02.000000"},
        {"status": "enabled", "binary": "nova-scheduler", "host": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com",
        "zone": "internal", "state": "up", "disabled_reason": null, "id": 2, "updated_at":
        "2017-10-25T13:47:57.000000"}, {"status": "enabled", "binary": "nova-conductor",
        "host": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com", "zone": "internal",
        "state": "up", "disabled_reason": null, "id": 3, "updated_at": "2017-10-25T13:48:07.000000"},
        {"status": "enabled", "binary": "nova-compute", "host": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com",
        "zone": "nova", "state": "up", "disabled_reason": null, "id": 4, "updated_at":
        "2017-10-25T13:48:02.000000"}, {"status": "enabled", "binary": "nova-cert",
        "host": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com", "zone": "internal",
        "state": "up", "disabled_reason": null, "id": 5, "updated_at": "2017-10-25T13:47:59.000000"}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:07 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/os-services?limit=1000&marker=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9d506bf41af49dbaf08e04b5fdf68d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-58410f04-8c67-469e-b5d5-6d69353ca934
    body[...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/flavors/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9d506bf41af49dbaf08e04b5fdf68d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-d9af9183-db85-4c86-981d-6ad94d2e8fbe
    body:
      encoding: ASCII-8BIT
      string: '{"flavors": [{"name": "m1.tiny", "links": [{"href": "http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/flavors/1",
        "rel": "self"}, {"href": "http://10.8.99.233:8774/69f8f7205ade4aa59084c32c83e60b5a/flavors/1",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 1, "id": "1"}, {"name": "m1.small", "links": [{"href": "http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/flavors/2",
        "rel": "self"}, {"href": "http://10.8.99.233:8774/69f8f7205ade4aa59084c32c83e60b5a/flavors/2",
        "rel": "bookmark"}], "ram": 2048, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}], "flavors_links": [{"href": "http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/flavors/detail?limit=1000&marker=2",
        "rel": "next"}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:10 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/flavors/detail?limit=1000&marker=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9d506bf41af49dbaf08e04b5fdf68d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-47dcc7b5-cea1-49e7-8f86-7f60acc20d5e
    b[...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/7/os-flavor-access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5782e104c0f847deb3522947f35e3104
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-16c2f06b-9812-4c44-ac02-902572015182
    body:
      encoding: ASCII-8BIT
      string: '{"flavor_access": [{"tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "flavor_id": "7"}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:17 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9292/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a05a471b8e654409868b3fc5161ca4d0
  response:
    status:
      code: 300
      message: Multiple Choices
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.3", "links": [{"href":
        "http://10.8.99.233:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v2.2", "links": [{"href": "http://10.8.99.233:9292/v2/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v2.1", "links": [{"href": "http://10.8.99.233:9292/v2/",
        "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.0", "links": [{"href":
        "http://10.8.99.233:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v1.1", "links": [{"href": "http://10.8.99.233:9292/v1/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v1.0", "links": [{"href": "http://10.8.99.233:9292/v1/",
        "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:17 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9292/v2/images?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 466bce7f26214de9953ecd90a207e49d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-d7974182-f57a-455c-8f39-c91d178fff2c
    body:
      encoding: ASCII-8BIT
      string: '{"images": [{"image_state": "available", "container_format": "bare",
        "min_ram": 0, "ramdisk_id": null, "updated_at": "2016-11-11T13:52:22Z", "file":
        "/v2/images/78ab353a-8b32-4cb9-b00b-60a70bacae08/file", "owner": "69f8f7205ade4aa59084c32c83e60b5a",
        "base_image_ref": "bb799f70-5e02-461b-8324-17ee88259c7b", "size": 22085632,
        "user_id": "80ea157498b44d08aa6d6f54b8a7c3e7", "image_type": "snapshot", "self":
        "/v2/images/78ab353a-8b32-4cb9-b00b-60a70bacae08", "disk_format": "qcow2",
        "id": "78ab353a-8b32-4cb9-b00b-60a70bacae08", "owner_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "status": "active", "image_location": "snapshot", "tags": [], "kernel_id":
        null, "visibility": "private", "min_disk": 1, "virtual_size": null, "instance_uuid":
        "96fef14f-5338-4d58-8b89-58b627b27b9b", "name": "EmsRefreshSpec-Shelved-shelved",
        "checksum": "8ed14be9a2e5744cc099e6b8458e0cdd", "created_at": "2016-11-11T13:51:50Z",
        "protected": false, "schema": "/v2/schemas/image"}, {"image_state": "available",
        "container_format": "bare", "min_ram": 0, "ramdisk_id": null, "updated_at":
        "2016-11-11T13:51:18Z", "file": "/v2/images/c9e7d983-c1a3-45f5-be89-3cfa4d7d9c0f/file",
        "owner": "69f8f7205ade4aa59084c32c83e60b5a", "base_image_ref": "bb799f70-5e02-461b-8324-17ee88259c7b",
        "size": 22020096, "user_id": "80ea157498b44d08aa6d6f54b8a7c3e7", "image_type":
        "snapshot", "self": "/v2/images/c9e7d983-c1a3-45f5-be89-3cfa4d[...]
- request:
    method: get
    uri: http://10.8.99.233:9292/v2/images?limit=1000&marker=bb799f70-5e02-461b-8324-17ee88259c7b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 466bce7f26214de9953ecd90a207e49d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-3b484fc3-9fad-4ded-888b-044b1430c2c6
    body:
      encoding: ASCII-8BIT
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?limit=1000"}'
  recorded_at: Wed, 25 Oct 2017 13:48:18 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9292/v2/images/78ab353a-8b32-4cb9-b00b-60a70bacae08/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 466bce7f26214de9953ecd90a207e49d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-cd57aea8-668f-4520-8b98-fd8e44909e4c
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 13:48:22 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/os-keypairs?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9d506bf41af49dbaf08e04b5fdf68d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-b4ebd710-3158-4059-a495-c50ccd3a6dac
    body:
      encoding: ASCII-8BIT
      string: '{"keypairs": [{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCn6mhl9SBfXCBF8wcPeaNLi/0ZTbkOZb+3S4m1lEcfT6JVr1+Y9Pr91Kp228HrjFvVUGIMIgPytuK1rc6ytXqfzuar7fPZTxXSmUb0f+zz+eWRvbkvd9RgP4pqsENL3cPyjyTi/iE7GhpX7prItSA0HJOxDDFmeKupBudh4p2UpC5mwHyE0NonkjHfRQAnJNUz6wCcZbobTRXS+PVVZ0t9kQH6iG58iPQeXUzupZVjsPStksLA2Gtu5wUXewuIM1QbBB+GtGKUBZ7UKESO4oueKIH0Lu3z5SWA9MfGd2oyTPL0pbBKaCRMpzhKvIbaDIGoDu1h7kOFBcJQwPOLRkI/
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair", "fingerprint": "4d:d0:d7:0a:f6:87:3e:05:04:91:49:91:ef:49:1f:33"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNbYzQK57vApkpA9G7AlbXmYHUgtqKsFIqOtp/X+ZmM3xgtXAmrKuQzwpKXyjUED6FRj8gHl3lueGzXJrrl6G5bUYfH8iWhVi+pFmx24JIM4cvwSNl+q12FCrZjM0nRuFnYoBbd+gVyqpve1cDC7vlUUM9xtgaYTCbv4RepsdfeWw/HohSO1inpx297TSfWOXpVP2CTv67tvTbVGPv+r9RV4R1lHMZYJXVf3pjjJ0NB6LT9SogyDPNQL12PVwFNTYG9a/N/Fa33aanILwU2ffAgquyIcGT26YXp5br8J/3L7Wt+Lw+CkmhHKlgr+yLfkWHYp4X+uFBLoxUl0wPQkft
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-2", "fingerprint": "95:42:c9:d1:33:ec:4f:2c:4f:e8:55:00:ba:b0:4c:78"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwcaKcZZF6YrVWjgItxRWZyClehIYKU7tIQS3f1AbUzf/RBc3SrsZFtfPgzMXiX+YFxoxWUf6WCH7dJPZsmEaUJ21GbZ8s29ohCg67n9PL+kezdq9Ukm6CdojX0rsZfU/EKMhObvEmAzJ1ue0A2KQCrdSM92iO3BWcWFVjmxCZRB40eZvcvEbZc32s1MdxOk5cDrA0AsmFVyas3UeqWCE7U6SRWJIa3bjV34qeJWELZ6L7/XzdKYkiBpS0rjHuIejI73VSq082vyph8f8TE4bc3g57Sn4O1AbV7/9aIW+lA+7qw+MJ/7aVWRAtil0OQkhLc0mXmFXmUGMJkUHLFkUj
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-3", "fingerprint": "5f:98:28:4d:f4:f1:0d:0e:51:07:b4:7b:d7:f4:e6:cd"}}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:24 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/os-keypairs?limit=1000&marker=EmsRefreshSpec-KeyPair-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9d506bf41af49dbaf08e04b5fdf68d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-91fa8112-d4d3-4ed5-a3d[...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 24f27e93a5af40f0b11e33d356d84da8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7c58aef3-28bb-48f9-8b77-620fb8c65549
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": [{"description": "Heat WordPress template to support F20,
        using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parent": null,
        "stack_status_reason": "Stack CREATE completed successfully", "stack_name":
        "stack3", "stack_user_project_id": "334baf07bb9d466e8b5868dc1a1ffb5b", "tags":
        null, "creation_time": "2016-11-11T13:50:12", "links": [{"href": "http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "45d2af82-eff9-4483-a1f0-f19c44d96146"}, {"description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n", "parent": null, "stack_statu[...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks?limit=1000&marker=091e1e54-e01c-4ec5-a0ab-b00bee4d425c&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 24f27e93a5af40f0b11e33d356d84da8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-ca2b04e0-e88d-4ea3-a9fc-f2f68c241f05
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 13:48:27 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 24f27e93a5af40f0b11e33d356d84da8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-aa2d21e5-b82d-44f9-bc4c-d2b5e490bdba
    body:
      encoding: ASCII-8BIT
      string: '{"stack": {"disable_rollback": true, "description": "Heat WordPress
        template to support F20, using only Heat OpenStack-native resource types,
        and without the requirement for heat-cfntools in the image. WordPress is web
        software you can use to create a beautiful website or blog. This template
        installs a single-instance WordPress deployment using a local MySQL database
        to store the data.\n", "parent": null, "tags": null, "stack_name": "stack3",
        "stack_user_project_id": "334baf07bb9d466e8b5868dc1a1ffb5b", "stack_status_reason":
        "Stack CREATE completed successfully", "creation_time": "2016-11-11T13:50:12",
        "links": [{"href": "http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146",
        "rel": "self"}], "capabilities": [], "notification_topics": [], "updated_time":
        null, "timeout_mins": null, "stack_status": "CREATE_COMPLETE", "stack_owner":
        null, "parameters": {"OS::project_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "OS::stack_id": "45d2af82-eff9-4483-a1f0-f19c44d96146", "OS::stack_name":
        "stack3", "image_id": "EmsRefreshSpec-Image", "network_id": "c0e8e42b-005e-4183-8f25-fa91b3e441c1",
        "db_password": "******", "instance_type": "m1.tiny", "db_name": "wordpress",
        "db_username": "******", "db_root_password": "******", "key_name": "EmsRefreshSpec-KeyPair"},
        "id": "45d2af82-eff9-4483-a1f0-f19c44d96146", "outputs": [{"output_value":
        "http://192.168.0.3/wordpress", "description": "URL for Wordpress wiki", "output_key":
        "WebsiteURL"}], "template_description": "Heat WordPress template to support
        F20, using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n"}}'
  recorded_at: Wed, 25 Oct 2017 13:48:30 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 24f27e93a5af40f0b11e33d356d84da8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-bd3c4451-5068-4516-9451-5bffd726f3d8
    body:
      encoding: ASCII-8BIT
      string: '{"outputs": {"WebsiteURL": {"description": "URL for Wordpress wiki",
        "value": {"str_replace": {"params": {"host": {"get_attr": ["wordpress_instance",
        "first_address"]}}, "template": "http://host/wordpress"}}}}, "heat_template_version":
        "2013-05-23", "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parameters":
        {"instance_type": {"default": "m1.small", "type": "string", "description":
        "Instance type for WordPress server", "constraints": [{"description": "instance_type
        must be one of m1.small, m1.medium or m1.large", "allowed_values": ["m1.tiny",
        "m1.small", "m1.medium", "m1.large"]}]}, "network_id": {"type": "string",
        "description": "Name or ID of the network to use"}, "db_password": {"default":
        "admin", "hidden": true, "type": "string", "description": "The WordPress database
        admin account password", "constraints": [{"length": {"max": 41, "min": 1},
        "description": "db_password must be between 1 and 41 characters"}, {"allowed_pattern":
        "[a-zA-Z0-9]*", "description": "db_password must contain only alphanumeric
        characters"}]}, "image_id": {"default": "fedora-20.x86_64", "type": "string",
        "description": "Name or ID of the image to use for the WordPress server. Recommended
        values are fedora-20.i386 or fedora-20.x86_64; get them from http://cloud.fedoraproject.org/fedora-20.i386.qcow2
        or http://cloud.fedoraproject.org/fedora-20.x86_64.qcow2 .\n"}, "db_name":
        {"default": "wordpress", [...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 24f27e93a5af40f0b11e33d356d84da8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-75cb0e8c-dc68-4724-a0ad-8721973a2bbb
    body:
      encoding: ASCII-8BIT
      string: '{"resources": [{"resource_name": "wordpress_instance", "links": [{"href":
        "http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146/resources/wordpress_instance",
        "rel": "self"}, {"href": "http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146",
        "rel": "stack"}], "logical_resource_id": "wordpress_instance", "creation_time":
        "2016-11-11T13:50:13", "resource_status": "CREATE_COMPLETE", "updated_time":
        "2016-11-11T13:50:13", "required_by": [], "resource_status_reason": "state
        changed", "physical_resource_id": "aa5907f3-8209-4dd0-b3ef-600431d85bac",
        "resource_type": "OS::Nova::Server"}]}'
  recorded_at: Wed, 25 Oct 2017 13:48:32 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e9d506bf41af49dbaf08e04b5fdf68d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-1630277c-75d1-4d5c-bd59-b6fabdcc5bb7
    body:
      encoding: ASCII-8BIT
      string: '{"servers_links": [{"href": "http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/servers/detail?limit=1000&marker=96fef14f-5338-4d58-8b89-58b627b27b9b",
        "rel": "next"}], "servers": [{"status": "ACTIVE", "updated": "2016-11-11T13:51:32Z",
        "hostId": "bb5e57f091d4c5737235b6ea23cd3cf06921fdb1ff1e90c2eb3098a9", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:99:fa:b0", "version": 4, "addr": "192.168.1.7",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:99:fa:b0",
        "version": 4, "addr": "172.16.17.9", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a/servers/d9fcaf7b-601d-4ac6-9d3c-f61950ea5f5b",
        "rel": "self"}, {"href": "http://10.8.99.233:8774/69f8f7205ade4aa59084c32c83e60b5a/servers/d9fcaf7b-601d-4ac6-9d3c-f61950ea5f5b",
        "rel": "bookmark"}], "key_name": "EmsRefreshSpec-KeyPair", "image": {"id":
        "c9e7d983-c1a3-45f5-be89-3cfa4d7d9c0f", "links": [{"href": "http://10.8.99.233:8774/69f8f7205ade4aa59084c32c83e60b5a/images/c9e7d983-c1a3-45f5-be89-3cfa4d7d9c0f",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "OS-EXT-SRV-ATTR:instance_name": "instance-00000009", "OS-SRV-USG:launched_at":
        "2016-11-11T13:51:32.000000", "OS-EXT-SRV-ATTR:hypervisor_hostname": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com",
        "flavor": {"id": "6", "links": [{"href": "http://10.8.99.233:8774/69f8f7205ade4aa59084c32c83e60b5a/flavors/6",
        "rel": "bookmark"}]}, "id": "d9fcaf7b-601d-4ac6-9d3c-f61950ea5f5b", "security_groups":
        [{"name": "EmsRefreshSpec-SecurityGroup2"}, {"name": "EmsRefreshSpec-SecurityGroup"}],
        "OS-SRV-USG:terminated_at": null, "OS-EXT-AZ:availability_zone": "nova", "user_id":
        "80ea157498b44d08aa6d6f54b8a7c3e7", "name": "EmsRefreshSpec-PoweredOn-FromSnapshot",
        "created": "2016-11-11T13:51:21Z", "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "OS-DCF:diskConfig": "MANUAL", "os-extended-volumes:volumes_attached": [],
        "accessIPv4": "", "accessIPv6": "", "progress": 0, "OS-EXT-STS:power_state":
        1, "config_drive": "", "metadata": {}}, {"status": "SHELVED_OFFLOADED", "updated":
[...]
