---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"c2004d455a054b7c"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-fbf153e4-bc57-43e8-8e74-ce0b9fd70a91
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T13:46:45.590003", "expires":
        "2017-10-25T14:46:45Z", "id": "731ae65d16694881b82611ab43bead0e", "tenant":
        {"description": "admin tenant", "enabled": true, "id": "e54e5c3c19e34720b05661f2ea1ea00a",
        "name": "admin"}, "audit_ids": ["DJR-GI0EQL2y2yN8IHcHyg"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "region": "RegionOne", "internalURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "id": "33f58c6950134a2381bb3668fae5a325", "publicURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://10.8.99.233:9696", "region": "RegionOne", "internalURL": "http://10.8.99.233:9696",
        "id": "5b097055aff24a40aa4cd2d7317c9108", "publicURL": "http://10.8.99.233:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://10.8.99.233:8776/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "region": "RegionOne", "internalURL": "http://10.8.99.233:8776/v2/e54e5c3c[...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 905ab6ce23f34e85b84b3f890412e7bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://10.8.99.233:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 13:46:46 GMT
[...]
- request:
    method: post
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"c2004d455a054b7c"},"tenantName":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-22fa43ee-b635-4c7c-8df1-503606c29d74
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T13:46:48.768956", "expires":
        "2017-10-25T14:46:48Z", "id": "436c8c4cf95248af8ee566861a6b4dc9", "audit_ids":
        ["gdGnQE3cQoiN0XJ0WT9g-g"]}, "serviceCatalog": [], "user": {"username": "admin",
        "roles_links": [], "id": "80ea157498b44d08aa6d6f54b8a7c3e7", "roles": [],
        "name": "admin"}, "metadata": {"is_admin": 0, "roles": []}}}'
  recorded_at: Wed, 25 Oct 2017 13:46:48 GMT
- request:
    method: get
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 436c8c4cf95248af8ee566861a6b4dc9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-b6582350-8724-45a2-a8a4-3dc24e10fce8
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants_links": [], "tenants": [{"description": "", "enabled": true,
        "id": "69f8f7205ade4aa59084c32c83e60b5a", "name": "EmsRefreshSpec-Project"},
        {"description": "", "enabled": true, "id": "b458a5c25c3749758f4c0661940b3ba8",
        "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"description": "admin tenant",
        "enabled": true, "id": "e54e5c3c19e34720b05661f2ea1ea00a", "name": "admin"},
        {"description": "", "enabled": true, "id": "e8f744b1fc6a487681d35fb275252608",
        "name": "EmsRefreshSpec-Project2"}]}'
  recorded_at: Wed, 25 Oct 2017 13:46:49 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/detail?all_tenants=True&is_public=None&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 731ae65d16694881b82611ab43bead0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-e8d53c8a-77da-46ab-9172-1579aa4cb233
    body:
      encoding: ASCII-8BIT
      string: '{"flavors": [{"name": "m1.tiny", "links": [{"href": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/1",
        "rel": "self"}, {"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/flavors/1",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 1, "id": "1"}, {"name": "m1.small", "links": [{"href": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/2",
        "rel": "self"}, {"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/flavors/2",
        "rel": "bookmark"}], "ram": 2048, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}], "flavors_links": [{"href": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/detail?all_tenants=True&is_public=None&limit=1000&marker=2",
        "rel": "next"}]}'
  recorded_at: Wed, 25 Oct 2017 13:46:51 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/detail?all_tenants=True&is_public=None&limit=1000&marker=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 731ae65d16694881b82611ab43bead0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-2a7a7616-a[...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/7/os-flavor-access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 731ae65d16694881b82611ab43bead0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-bbc8c8c0-eb4a-4abd-9a81-c88b334a66f8
    body:
      encoding: ASCII-8BIT
      string: '{"flavor_access": [{"tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "flavor_id": "7"}]}'
  recorded_at: Wed, 25 Oct 2017 13:46:53 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-availability-zone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 731ae65d16694881b82611ab43bead0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-dd20a0be-6797-4505-a4c1-155d7f1a1b6a
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "hosts":
        null, "zoneName": "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:46:53 GMT
- request:
    method: get
    uri: http://10.8.99.233:8776/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-availability-zone.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 229c0517e0914607a23d50d3b777d631
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-a235217d-728d-4529-8b13-3f1c792dc50d
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-a235217d-728d-4529-8b13-3f1c792dc50d
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "zoneName":
        "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:46:54 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-aggregates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 731ae65d16694881b82611ab43bead0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-4c77c089-992c-4ae6-8378-5593e48569de
    body:
      encoding: ASCII-8BIT
      string: '{"aggregates": []}'
  recorded_at: Wed, 25 Oct 2017 13:46:54 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/69f8f7205ade4aa59084c32c83e60b5a//os-quota-sets/69f8f7205ade4aa59084c32c83e60b5a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5cab23114c554e6b8257f5510c8c38e0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-4ed038c0-4e6f-40ea-8c69-32df6827c87f
    body:
      encoding: ASCII-8BIT
      string: '{"quota_set": {"injected_file_content_bytes": 10240, "metadata_items":
        128, "server_group_members": 10, "server_groups": 10, "ram": 51200, "floating_ips":
        10, "key_pairs": 100, "id": "69f8f7205ade4aa59084c32c83e60b5a", "instances":
        10, "security_group_rules": 20, "injected_files": 5, "cores": 20, "fixed_ips":
        -1, "injected_file_path_bytes": 255, "security_groups": 10}}'
  recorded_at: Wed, 25 Oct 2017 13:46:54 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8776/v2/69f8f7205ade4aa59084c32c83e60b5a//os-quota-sets/69f8f7205ade4aa59084c32c83e60b5a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ebbb367448ff4a02a2d9401a5a8e7399
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-c8bafba1-8e45-4013-a131-f251273d5a9f
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-c8bafba1-8e45-4013-a131-f251273d5a9f
    body:
      encoding: ASCII-8BIT
      string: '{"quota_set": {"per_volume_gigabytes": -1, "snapshots_iscsi": -1, "gigabytes":
        1000, "gigabytes_EmsRefreshSpec-VolumeType": -1, "backup_gigabytes": 1000,
        "snapshots_EmsRefreshSpec-VolumeType": -1, "snapshots": 10, "snapshots_random":
        -1, "volumes_iscsi": -1, "volumes": 10, "volumes_random": -1, "gigabytes_random":
        -1, "backups": 10, "volumes_EmsRefreshSpec-VolumeType": -1, "gigabytes_iscsi":
        -1, "id": "69f8f7205ade4aa59084c32c83e60b5a"}}'
  recorded_at: Wed, 25 Oct 2017 13:46:57 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0//quotas/69f8f7205ade4aa59084c32c83e60b5a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2945db85f1214e4d947d8511dd4c497a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-1d3a2d0b-951a-43d7-9ba0-ac13067d0950
    body:
      encoding: ASCII-8BIT
      string: '{"quota": {"subnet": 20, "network": 20, "floatingip": 50, "subnetpool":
        -1, "security_group_rule": 100, "security_group": 10, "router": 10, "rbac_policy":
        10, "port": 50}}'
  recorded_at: Wed, 25 Oct 2017 13:47:02 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-keypairs?all_tenants=True&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 731ae65d16694881b82611ab43bead0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-12bf2630-a336-4465-a85e-c212566caf57
    body:
      encoding: ASCII-8BIT
      string: '{"keypairs": [{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCn6mhl9SBfXCBF8wcPeaNLi/0ZTbkOZb+3S4m1lEcfT6JVr1+Y9Pr91Kp228HrjFvVUGIMIgPytuK1rc6ytXqfzuar7fPZTxXSmUb0f+zz+eWRvbkvd9RgP4pqsENL3cPyjyTi/iE7GhpX7prItSA0HJOxDDFmeKupBudh4p2UpC5mwHyE0NonkjHfRQAnJNUz6wCcZbobTRXS+PVVZ0t9kQH6iG58iPQeXUzupZVjsPStksLA2Gtu5wUXewuIM1QbBB+GtGKUBZ7UKESO4oueKIH0Lu3z5SWA9MfGd2oyTPL0pbBKaCRMpzhKvIbaDIGoDu1h7kOFBcJQwPOLRkI/
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair", "fingerprint": "4d:d0:d7:0a:f6:87:3e:05:04:91:49:91:ef:49:1f:33"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNbYzQK57vApkpA9G7AlbXmYHUgtqKsFIqOtp/X+ZmM3xgtXAmrKuQzwpKXyjUED6FRj8gHl3lueGzXJrrl6G5bUYfH8iWhVi+pFmx24JIM4cvwSNl+q12FCrZjM0nRuFnYoBbd+gVyqpve1cDC7vlUUM9xtgaYTCbv4RepsdfeWw/HohSO1inpx297TSfWOXpVP2CTv67tvTbVGPv+r9RV4R1lHMZYJXVf3pjjJ0NB6LT9SogyDPNQL12PVwFNTYG9a/N/Fa33aanILwU2ffAgquyIcGT26YXp5br8J/3L7Wt+Lw+CkmhHKlgr+yLfkWHYp4X+uFBLoxUl0wPQkft
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-2", "fingerprint": "95:42:c9:d1:33:ec:4f:2c:4f:e8:55:00:ba:b0:4c:78"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwcaKcZZF6YrVWjgItxRWZyClehIYKU7tIQS3f1AbUzf/RBc3SrsZFtfPgzMXiX+YFxoxWUf6WCH7dJPZsmEaUJ21GbZ8s29ohCg67n9PL+kezdq9Ukm6CdojX0rsZfU/EKMhObvEmAzJ1ue0A2KQCrdSM92iO3BWcWFVjmxCZRB40eZvcvEbZc32s1MdxOk5cDrA0AsmFVyas3UeqWCE7U6SRWJIa3bjV34qeJWELZ6L7/XzdKYkiBpS0rjHuIejI73VSq082vyph8f8TE4bc3g57Sn4O1AbV7/9aIW+lA+7qw+MJ/7aVWRAtil0OQkhLc0mXmFXmUGMJkUHLFkUj
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-3", "fingerprint": "5f:98:28:4d:f4:f1:0d:0e:51:07:b4:7b:d7:f4:e6:cd"}}]}'
  recorded_at: Wed, 25 Oct 2017 13:47:05 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-keypairs?all_tenants=True&limit=1000&marker=EmsRefreshSpec-KeyPair-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 731ae65d16694881b82611ab43bead0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-596fa[...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d00b2a15289d40148dbf2e11b142f571
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7bbd2ed4-3ab0-4898-8767-80f71dc48144
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": [{"description": "Heat WordPress template to support F20,
        using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parent": null,
        "stack_status_reason": "Stack CREATE completed successfully", "stack_name":
        "stack3", "stack_user_project_id": "334baf07bb9d466e8b5868dc1a1ffb5b", "tags":
        null, "creation_time": "2016-11-11T13:50:12", "links": [{"href": "http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "45d2af82-eff9-4483-a1f0-f19c44d96146"}, {"description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n", "parent": null, "stack_statu[...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks?limit=1000&marker=091e1e54-e01c-4ec5-a0ab-b00bee4d425c&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d00b2a15289d40148dbf2e11b142f571
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-391b0b5b-fb5d-424d-9a86-eb3b227cd8d1
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 13:47:06 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d00b2a15289d40148dbf2e11b142f571
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-103944ea-877e-4028-92f9-8c3379f4b74c
    body:
      encoding: ASCII-8BIT
      string: '{"stack": {"disable_rollback": true, "description": "Heat WordPress
        template to support F20, using only Heat OpenStack-native resource types,
        and without the requirement for heat-cfntools in the image. WordPress is web
        software you can use to create a beautiful website or blog. This template
        installs a single-instance WordPress deployment using a local MySQL database
        to store the data.\n", "parent": null, "tags": null, "stack_name": "stack3",
        "stack_user_project_id": "334baf07bb9d466e8b5868dc1a1ffb5b", "stack_status_reason":
        "Stack CREATE completed successfully", "creation_time": "2016-11-11T13:50:12",
        "links": [{"href": "http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146",
        "rel": "self"}], "capabilities": [], "notification_topics": [], "updated_time":
        null, "timeout_mins": null, "stack_status": "CREATE_COMPLETE", "stack_owner":
        null, "parameters": {"OS::project_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "OS::stack_id": "45d2af82-eff9-4483-a1f0-f19c44d96146", "OS::stack_name":
        "stack3", "image_id": "EmsRefreshSpec-Image", "network_id": "c0e8e42b-005e-4183-8f25-fa91b3e441c1",
        "db_password": "******", "instance_type": "m1.tiny", "db_name": "wordpress",
        "db_username": "******", "db_root_password": "******", "key_name": "EmsRefreshSpec-KeyPair"},
        "id": "45d2af82-eff9-4483-a1f0-f19c44d96146", "outputs": [{"output_value":
        "http://192.168.0.3/wordpress", "description": "URL for Wordpress wiki", "output_key":
        "WebsiteURL"}], "template_description": "Heat WordPress template to support
        F20, using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n"}}'
  recorded_at: Wed, 25 Oct 2017 13:47:10 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d00b2a15289d40148dbf2e11b142f571
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-c28d436f-fbae-4abc-aa5a-39e389cfbcd9
    body:
      encoding: ASCII-8BIT
      string: '{"resources": [{"resource_name": "wordpress_instance", "links": [{"href":
        "http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146/resources/wordpress_instance",
        "rel": "self"}, {"href": "http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146",
        "rel": "stack"}], "logical_resource_id": "wordpress_instance", "creation_time":
        "2016-11-11T13:50:13", "resource_status": "CREATE_COMPLETE", "updated_time":
        "2016-11-11T13:50:13", "required_by": [], "resource_status_reason": "state
        changed", "physical_resource_id": "aa5907f3-8209-4dd0-b3ef-600431d85bac",
        "resource_type": "OS::Nova::Server"}]}'
  recorded_at: Wed, 25 Oct 2017 13:47:12 GMT
- request:
    method: get
    uri: http://10.8.99.233:8004/v1/69f8f7205ade4aa59084c32c83e60b5a/stacks/stack3/45d2af82-eff9-4483-a1f0-f19c44d96146/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d00b2a15289d40148dbf2e11b142f571
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-2ccc8c93-a51c-4eee-b37b-325a07a252f1
    body:
      encoding: ASCII-8BIT
      string: '{"outputs": {"WebsiteURL": {"description": "URL for Wordpress wiki",
        "value": {"str_replace": {"params": {"host": {"get_attr": ["wordpress_instance",
        "first_address"]}}, "template": "http://host/wordpress"}}}}, "heat_template_version":
        "2013-05-23", "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parameters":
        {"instance_type": {"default": "m1.small", "type": "string", "description":
        "Instance type for WordPress server", "constraints": [{"description": "instance_type
        must be one of m1.small, m1.medium or m1.large", "allowed_values": ["m1.tiny",
        "m1.small", "m1.medium", "m1.large"]}]}, "network_id": {"type": "string",
        "description": "Name or ID of the network to use"}, "db_password": {"default":
        "admin", "hidden": true, "type": "string", "description": "The WordPress database
        admin account password", "constraints": [{"length": {"max": 41, "min": 1},
        "description": "db_password must be between 1 and 41 characters"}, {"allowed_pattern":
        "[a-zA-Z0-9]*", "description": "db_password must contain only alphanumeric
        characters"}]}, "image_id": {"default": "fedora-20.x86_64", "type": "string",
        "description": "Name or ID of the image to use for the WordPress server. Recommended
        values are fedora-20.i386 or fedora-20.x86_64; get them from http://cloud.fedoraproject.org/fedora-20.i386.qcow2
        or http://cloud.fedoraproject.org/fedora-20.x86_64.qcow2 .\n"}, "db_name":
        {"default": "wordpress", [...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:9292/v2/images?all_tenants=True&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 8b88bd1d079f4425bb34c27d08fb265a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-69e1c5ed-ac79-4f27-9eb0-bce1d1822211
    body:
      encoding: ASCII-8BIT
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?limit=1000&all_tenants=True"}'
  recorded_at: Wed, 25 Oct 2017 13:47:14 GMT
- request:
    method: get
    uri: http://10.8.99.233:9292/v2/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 8b88bd1d079f4425bb34c27d08fb265a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-16fb6407-c148-4e7b-869d-842f9d37bf9a
    body:
      encoding: ASCII-8BIT
      string: '{"images": [{"image_state": "available", "container_format": "bare",
        "min_ram": 0, "ramdisk_id": null, "updated_at": "2016-11-11T13:52:22Z", "file":
        "/v2/images/78ab353a-8b32-4cb9-b00b-60a70bacae08/file", "owner": "69f8f7205ade4aa59084c32c83e60b5a",
        "base_image_ref": "bb799f70-5e02-461b-8324-17ee88259c7b", "size": 22085632,
        "user_id": "80ea157498b44d08aa6d6f54b8a7c3e7", "image_type": "snapshot", "self":
        "/v2/images/78ab353a-8b32-4cb9-b00b-60a70bacae08", "disk_format": "qcow2",
        "id": "78ab353a-8b32-4cb9-b00b-60a70bacae08", "owner_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "status": "active", "image_location": "snapshot", "tags": [], "kernel_id":
        null, "visibility": "private", "min_disk": 1, "virtual_size": null, "instance_uuid":
        "96fef14f-5338-4d58-8b89-58b627b27b9b", "name": "EmsRefreshSpec-Shelved-shelved",
        "checksum": "8ed14be9a2e5744cc099e6b8458e0cdd", "created_at": "2016-11-11T13:51:50Z",
        "protected": false, "schema": "/v2/schemas/image"}, {"image_state": "available",
        "container_format": "bare", "min_ram": 0, "ramdisk_id": null, "updated_at":
        "2016-11-11T13:51:18Z", "file": "/v2/images/c9e7d983-c1a3-45f5-be89-3cfa4d7d9c0f/file",
        "owner": "69f8f7205ade4aa59084c32c83e60b5a", "base_image_ref": "bb799f70-5e02-461b-8324-17ee88259c7b",
        "size": 22020096, "user_id": "80ea157498b44d08aa6d6f54b8a7c3e7", "image_type":
        "snapshot", "self": "/v2/images/c9e7d983-c1a3[...]
- request:
    method: get
    uri: http://10.8.99.233:9292/v2/images/78ab353a-8b32-4cb9-b00b-60a70bacae08/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 8b88bd1d079f4425bb34c27d08fb265a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-f24cdb44-c4d1-450f-92ef-f0334c75b408
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 13:47:15 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/servers/detail?all_tenants=True&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 731ae65d16694881b82611ab43bead0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-8b8062cc-5f7b-4a00-b190-6aa2b080959a
    body:
      encoding: ASCII-8BIT
      string: '{"servers_links": [{"href": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/servers/detail?all_tenants=True&limit=1000&marker=96fef14f-5338-4d58-8b89-58b627b27b9b",
        "rel": "next"}], "servers": [{"status": "ACTIVE", "updated": "2016-11-11T13:51:32Z",
        "hostId": "bb5e57f091d4c5737235b6ea23cd3cf06921fdb1ff1e90c2eb3098a9", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:99:fa:b0", "version": 4, "addr": "192.168.1.7",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:99:fa:b0",
        "version": 4, "addr": "172.16.17.9", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/servers/d9fcaf7b-601d-4ac6-9d3c-f61950ea5f5b",
        "rel": "self"}, {"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/servers/d9fcaf7b-601d-4ac6-9d3c-f61950ea5f5b",
        "rel": "bookmark"}], "key_name": "EmsRefreshSpec-KeyPair", "image": {"id":
        "c9e7d983-c1a3-45f5-be89-3cfa4d7d9c0f", "links": [{"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/images/c9e7d983-c1a3-45f5-be89-3cfa4d7d9c0f",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "OS-EXT-SRV-ATTR:instance_name": "instance-00000009", "OS-SRV-USG:launched_at":
        "2016-11-11T13:51:32.000000", "OS-EXT-SRV-ATTR:hypervisor_hostname": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com",
        "flavor": {"id": "6", "links": [{"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/flavors/6",
[...]
