---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"c18599c00ee8489f"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T13:59:44.645452", "expires":
        "2017-10-25T14:59:44Z", "id": "11431075b0ea4a6d8651d3d22c89d483", "tenant":
        {"description": "admin tenant", "enabled": true, "id": "a4c220df5f1d4496b2ac959d39959168",
        "name": "admin"}, "audit_ids": ["cSh-hIWlRHqsm2TAvzeeZg"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://10.8.99.237:8774/v2/a4c220df5f1d4496b2ac959d39959168",
        "region": "RegionOne", "internalURL": "http://10.8.99.237:8774/v2/a4c220df5f1d4496b2ac959d39959168",
        "id": "20a488418d774f36b823b4dd0eb1526e", "publicURL": "http://10.8.99.237:8774/v2/a4c220df5f1d4496b2ac959d39959168"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://10.8.99.237:9696/", "region": "RegionOne", "internalURL": "http://10.8.99.237:9696/",
        "id": "0b51dc66870a4b8a84025863c3f4afc5", "publicURL": "http://10.8.99.237:9696/"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://10.8.99.237:8776/v2/a4c220df5f1d4496b2ac959d39959168",
        "region": "RegionOne", "internalURL": "http://10.8.99.237:8776/v2/a4c22[...]
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/a4c220df5f1d4496b2ac959d39959168/os-availability-zone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 11431075b0ea4a6d8651d3d22c89d483
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-277004cb-f41e-491d-a4c5-8799cb5278ea
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "hosts":
        null, "zoneName": "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:59:45 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:8776/v2/a4c220df5f1d4496b2ac959d39959168/os-availability-zone.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dede44d265874213a5aeceeb85b5f894
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-ccbc711b-1bc8-4c0e-b043-32bc1a6f52af
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-ccbc711b-1bc8-4c0e-b043-32bc1a6f52af
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "zoneName":
        "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:59:46 GMT
- request:
    method: post
    uri: http://dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"c18599c00ee8489f"},"tenantName":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T13:59:46.700232", "expires":
        "2017-10-25T14:59:46Z", "id": "7c0f6f8e8bed4860988622acb8f17300", "audit_ids":
        ["rdAKKn4NTrez7e9iBlycBw"]}, "serviceCatalog": [], "user": {"username": "admin",
        "roles_links": [], "id": "4a371bb6ed7148d4b62c80a2bf17d503", "roles": [],
        "name": "admin"}, "metadata": {"is_admin": 0, "roles": []}}}'
  recorded_at: Wed, 25 Oct 2017 13:59:46 GMT
- request:
    method: get
    uri: http://dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 7c0f6f8e8bed4860988622acb8f17300
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants_links": [], "tenants": [{"description": "", "enabled": true,
        "id": "43dcd1b8a6a5400b8c2ab0888a4eda84", "name": "EmsRefreshSpec-Project2"},
        {"description": "", "enabled": true, "id": "54008f41383d472ea1dba87b7e63bedf",
        "name": "EmsRefreshSpec-Project"}, {"description": "admin tenant", "enabled":
        true, "id": "a4c220df5f1d4496b2ac959d39959168", "name": "admin"}, {"description":
        "", "enabled": true, "id": "b92da158785e427b8fd30d7e4ccf2c19", "name": "EmsRefreshSpec-Project-No-Admin-Role"}]}'
  recorded_at: Wed, 25 Oct 2017 13:59:47 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/os-services?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1f617b25da0e4c6aaff90642553dc42e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-db0accf5-f928-4c9f-8182-9480a9ef8464
    body:
      encoding: ASCII-8BIT
      string: '{"services": [{"status": "enabled", "binary": "nova-consoleauth", "zone":
        "internal", "state": "up", "updated_at": "2017-10-25T13:59:48.000000", "host":
        "dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason": null,
        "id": 1}, {"status": "enabled", "binary": "nova-scheduler", "zone": "internal",
        "state": "up", "updated_at": "2017-10-25T13:59:42.000000", "host": "dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 2}, {"status": "enabled", "binary": "nova-conductor",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T13:59:47.000000",
        "host": "dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 3}, {"status": "enabled", "binary": "nova-compute", "zone": "nova",
        "state": "up", "updated_at": "2017-10-25T13:59:49.000000", "host": "dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 4}, {"status": "enabled", "binary": "nova-cert",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T13:59:48.000000",
        "host": "dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 5}]}'
  recorded_at: Wed, 25 Oct 2017 13:59:49 GMT
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/os-services?limit=1000&marker=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1f617b25da0e4c6aaff90642553dc42e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-98f08d6a-5efd-4180-919e-45f67783176a
    body[...]
[...]
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/flavors/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1f617b25da0e4c6aaff90642553dc42e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-336197af-6341-409b-9f50-565b71c900d9
    body:
      encoding: ASCII-8BIT
      string: '{"flavors": [{"name": "m1.tiny", "links": [{"href": "http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/flavors/1",
        "rel": "self"}, {"href": "http://10.8.99.237:8774/43dcd1b8a6a5400b8c2ab0888a4eda84/flavors/1",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 1, "id": "1"}, {"name": "m1.small", "links": [{"href": "http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/flavors/2",
        "rel": "self"}, {"href": "http://10.8.99.237:8774/43dcd1b8a6a5400b8c2ab0888a4eda84/flavors/2",
        "rel": "bookmark"}], "ram": 2048, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}], "flavors_links": [{"href": "http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/flavors?limit=1000&marker=2",
        "rel": "next"}]}'
  recorded_at: Wed, 25 Oct 2017 13:59:52 GMT
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/flavors/detail?limit=1000&marker=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1f617b25da0e4c6aaff90642553dc42e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-f408de05-b042-404f-871e-111997584548
    b[...]
[...]
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/a4c220df5f1d4496b2ac959d39959168/flavors/7/os-flavor-access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 11431075b0ea4a6d8651d3d22c89d483
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-2d5df758-8494-4261-9dad-fec7581295c9
    body:
      encoding: ASCII-8BIT
      string: '{"flavor_access": [{"tenant_id": "54008f41383d472ea1dba87b7e63bedf",
        "flavor_id": "7"}]}'
  recorded_at: Wed, 25 Oct 2017 13:59:57 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:9292/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 50b04a6e7b2c4ca59ba57f4db0a9c609
  response:
    status:
      code: 300
      message: Multiple Choices
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.2", "links": [{"href":
        "http://10.8.99.237:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v2.1", "links": [{"href": "http://10.8.99.237:9292/v2/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v2.0", "links": [{"href": "http://10.8.99.237:9292/v2/",
        "rel": "self"}]}, {"status": "CURRENT", "id": "v1.1", "links": [{"href": "http://10.8.99.237:9292/v1/",
        "rel": "self"}]}, {"status": "SUPPORTED", "id": "v1.0", "links": [{"href":
        "http://10.8.99.237:9292/v1/", "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 13:59:58 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:9292/v2/images?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5dea8572543c42b8bacbb97d6adcb06e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-06685c55-7fdc-4ca4-a1e9-c3d787f2012f
    body:
      encoding: ASCII-8BIT
      string: '{"images": [{"image_state": "available", "container_format": "bare",
        "min_ram": 0, "instance_type_id": "6", "updated_at": "2016-08-18T17:29:41Z",
        "file": "/v2/images/02ab2817-c76b-4b7f-aa15-192a35bcfb33/file", "owner": "54008f41383d472ea1dba87b7e63bedf",
        "base_image_ref": "3a94aef3-d650-4995-bef2-75dab93a8f98", "size": 22085632,
        "user_id": "4a371bb6ed7148d4b62c80a2bf17d503", "image_type": "snapshot", "self":
        "/v2/images/02ab2817-c76b-4b7f-aa15-192a35bcfb33", "disk_format": "qcow2",
        "instance_type_ephemeral_gb": "1", "id": "02ab2817-c76b-4b7f-aa15-192a35bcfb33",
        "schema": "/v2/schemas/image", "status": "active", "image_location": "snapshot",
        "tags": [], "instance_type_root_gb": "1", "instance_type_name": "m1.ems_refresh_spec",
        "visibility": "private", "instance_type_rxtx_factor": "1.0", "min_disk": 1,
        "instance_type_vcpus": "1", "instance_uuid": "2ca7e7b1-5e2c-46ed-99b5-46a9adc97f31",
        "instance_type_memory_mb": "512", "instance_type_swap": "512", "name": "EmsRefreshSpec-Shelved-shelved",
        "checksum": "dfe4da93ced068c183f6087404f5c76e", "created_at": "2016-08-18T17:29:34Z",
        "protected": false, "instance_type_flavorid": "6", "owner_id": "54008f41383d472ea1dba87b7e63bedf"},
        {"image_state": "available", "container_format": "bare", "min_ram": 0, "instance_type_id":
        "6", "updated_at": "2016-08-18T17:29:01Z", "file": "/v2/images/ac280031-894c-43a6-a9c6-b7367498cd76/file",
        "owner": "54008f41383d472ea1dba87b7e63bedf", "base_image_ref": "3a94aef3-d650-4995-bef2-75dab93a8f98",
        "size": 22020096, "user_id": "4a371bb6ed7148d4b62c80a2bf17d503", "image_type":
        "snapshot", "self": "/v2/images/ac280031-8[...]
- request:
    method: get
    uri: http://10.8.99.237:9292/v2/images?limit=1000&marker=3a94aef3-d650-4995-bef2-75dab93a8f98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5dea8572543c42b8bacbb97d6adcb06e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-e6f7814d-c6e5-49d2-99a1-281b9b6e7967
    body:
      encoding: ASCII-8BIT
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?limit=1000"}'
  recorded_at: Wed, 25 Oct 2017 13:59:59 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:9292/v2/images/02ab2817-c76b-4b7f-aa15-192a35bcfb33/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5dea8572543c42b8bacbb97d6adcb06e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-86db4dee-117e-4b03-bacc-a1622c5543a6
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 14:00:03 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/os-keypairs?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1f617b25da0e4c6aaff90642553dc42e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-59d8f9c0-6e80-4e3b-a3ba-800a18730070
    body:
      encoding: ASCII-8BIT
      string: '{"keypairs": [{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDhVhO3WDWMhTlIRH1vrzGaZNhip6TtCA1fj+ZBrPqk+rVDaGpR++pEnZN4tSjVjFikWl5eeF1u+u1k/PVESdshGVgN1SixOt2MDWfEwUZi4WgmWm2v/RpTsEq2yfzvH9Ts3Ue316v3zi9MfYxfIboRMJVOwHpV7dM2O2WdRlVm+DA7NUP/eswUBhhPGJDvdEQQCUdWRaI5irRxp3tRMgMSxjytdzb+QLgYKhkFmWnmBWQPSXDTECJ406ipkN6tnS6x2OYwrmbnQ80/mpNOz4nIHzc7ZaoqZCjxqnk36QekAcEzYYvjTi86C5mNNf80U9BDb5ntSahzyo75q6mBMbe1
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair", "fingerprint": "ef:3d:84:87:10:69:8c:2e:28:44:1a:bc:b2:5c:56:b7"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCy13N9CZuItovnLwfA7Bj3rqEwSCDOsS9lNyPuyPNbSJt1EKg8E2NghFHpWi32SQK6Cii2b08GyQGUwWdzmxQV2N5YJWeAxau4vLZO+Z4JAAEzbTInnbJAa4GoS5hbwGfmD7886qwVUz2z9gOG/0UZJQ1rXc0wdU0lQay5FBeJ2glV02MhY/3McUxAi3pJ84Z1hGOwzaT+DbFdsxrmSC5ASKAYBHf6Bw60hJ4EVwrD4Ztj9N2AZI0c2R/FW/gvxKoOA7aohETUHShKATV3uZBKZcSdIhUlIMl/g6gvvAKyn/u/K0s7K74+szn3WeTo4znSLBBYrBdku6bztrPC47HH
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-2", "fingerprint": "cc:0a:3b:15:fc:bb:fb:4d:bc:e9:9d:2a:a8:12:7a:d0"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqUA7XhoDeMw7CxrbRvE5z4zFfaL+J2ba54nrhcxOZ+NR/d0Cd4ellEPw/Ati2r5wna6rXWN/drdjFJGO1h/UEFoKOOKE0Nh0FFO45NLm+HH4+1Gvh9TT0Hkzp3bz5baw/cO3gdKwnpsaHdiKH2zg4Kads156usJZmfWriDifnbam4W5fqnnOnzwBLNK3RBHkVWfSZfHCVQiYAFQwJqVw6/wiI2g+UOUBHWh+ec50RKDZW2K9AEA563NNxGKn29LlwPgjbQbZ5JIeStmWDHxMdE4qJ4ybxgqEWdrHFVe5qtxZD6G/0g0ppcPOBQWqn6kkEIxv/IXx3SzScIHM0KiZN
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-3", "fingerprint": "5b:30:b1:38:01:fb:69:6e:fe:b9:b8:d9:c2:7b:67:ca"}}]}'
  recorded_at: Wed, 25 Oct 2017 14:00:04 GMT
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/os-keypairs?limit=1000&marker=EmsRefreshSpec-KeyPair-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1f617b25da0e4c6aaff90642553dc42e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-eb7959eb-3cf1-458d-95a[...]
[...]
- request:
    method: get
    uri: http://10.8.99.237:8004/v1/43dcd1b8a6a5400b8c2ab0888a4eda84/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a4933902a68547f28ec554a5bbaeaea9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-c049750f-d006-445c-8cfe-3d665a7bd164
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 14:00:07 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5dead2811ec74d9eb4ed5b01e098006f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-d4ad3801-71d9-4f41-ac9c-dd139574b779
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": [{"parent": null, "description": "Heat WordPress template
        to support F20, using only Heat OpenStack-native resource types, and without
        the requirement for heat-cfntools in the image. WordPress is web software
        you can use to create a beautiful website or blog. This template installs
        a single-instance WordPress deployment using a local MySQL database to store
        the data.\n", "links": [{"href": "http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks/stack1/8e05b46c-16fd-4119-8bd6-44bb2db851c1",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack1", "stack_user_project_id": "8278ff9ae347482bac764b3e899a97af",
        "creation_time": "2016-08-18T17:26:22Z", "updated_time": null, "stack_owner":
        null, "stack_status": "CREATE_COMPLETE", "id": "8e05b46c-16fd-4119-8bd6-44bb2db851c1"},
        {"parent": null, "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "links": [{"href":
 [...]
- request:
    method: get
    uri: http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks?limit=1000&marker=d5580817-8f60-4f5f-a7ba-5f5bfaecfc14&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5dead2811ec74d9eb4ed5b01e098006f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-d3fd10a4-ac36-4c5d-88af-eefebe02198a
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 14:00:08 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks/stack1/8e05b46c-16fd-4119-8bd6-44bb2db851c1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5dead2811ec74d9eb4ed5b01e098006f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-6cfc78c4-5511-40e0-b871-2350c71670a2
    body:
      encoding: ASCII-8BIT
      string: '{"stack": {"parent": null, "disable_rollback": true, "description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n", "links": [{"href": "http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks/stack1/8e05b46c-16fd-4119-8bd6-44bb2db851c1",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack1", "stack_user_project_id": "8278ff9ae347482bac764b3e899a97af",
        "stack_owner": null, "creation_time": "2016-08-18T17:26:22Z", "capabilities":
        [], "notification_topics": [], "updated_time": null, "timeout_mins": null,
        "stack_status": "CREATE_COMPLETE", "parameters": {"OS::stack_id": "8e05b46c-16fd-4119-8bd6-44bb2db851c1",
        "OS::stack_name": "stack1", "image_id": "EmsRefreshSpec-Image", "network_id":
        "be92c11f-974f-40c3-87e2-0acd9533bfbc", "db_password": "******", "instance_type":
        "m1.tiny", "db_name": "wordpress", "db_username": "******", "db_root_password":
        "******", "key_name": "EmsRefreshSpec-KeyPair"}, "id": "8e05b46c-16fd-4119-8bd6-44bb2db851c1",
        "outputs": [{"output_value": "http://192.168.1.4/wordpress", "description":
        "URL for Wordpress wiki", "output_key": "WebsiteURL"}], "template_description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n"}}'
  recorded_at: Wed, 25 Oct 2017 14:00:11 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks/stack1/8e05b46c-16fd-4119-8bd6-44bb2db851c1/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5dead2811ec74d9eb4ed5b01e098006f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-848bcc2a-f73f-40c3-8d25-88a06498eecd
    body:
      encoding: ASCII-8BIT
      string: '{"outputs": {"WebsiteURL": {"description": "URL for Wordpress wiki",
        "value": {"str_replace": {"params": {"host": {"get_attr": ["wordpress_instance",
        "first_address"]}}, "template": "http://host/wordpress"}}}}, "heat_template_version":
        "2013-05-23", "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parameters":
        {"instance_type": {"default": "m1.small", "type": "string", "description":
        "Instance type for WordPress server", "constraints": [{"description": "instance_type
        must be one of m1.small, m1.medium or m1.large", "allowed_values": ["m1.tiny",
        "m1.small", "m1.medium", "m1.large"]}]}, "network_id": {"type": "string",
        "description": "Name or ID of the network to use"}, "db_password": {"default":
        "admin", "hidden": true, "type": "string", "description": "The WordPress database
        admin account password", "constraints": [{"length": {"max": 41, "min": 1},
        "description": "db_password must be between 1 and 41 characters"}, {"allowed_pattern":
        "[a-zA-Z0-9]*", "description": "db_password must contain only alphanumeric
        characters"}]}, "image_id": {"default": "fedora-20.x86_64", "type": "string",
        "description": "Name or ID of the image to use for the WordPress server. Recommended
        values are fedora-20.i386 or fedora-20.x86_64; get them from http://cloud.fedoraproject.org/fedora-20.i386.qcow2
        or http://cloud.fedoraproject.org/fedora-20.x86_64.qcow2 .\n"}, "db_name":
        {"default": "wordpress", [...]
- request:
    method: get
    uri: http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks/stack1/8e05b46c-16fd-4119-8bd6-44bb2db851c1/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 5dead2811ec74d9eb4ed5b01e098006f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-43148afc-d701-488d-bf10-880b267629eb
    body:
      encoding: ASCII-8BIT
      string: '{"resources": [{"resource_name": "wordpress_instance", "links": [{"href":
        "http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks/stack1/8e05b46c-16fd-4119-8bd6-44bb2db851c1/resources/wordpress_instance",
        "rel": "self"}, {"href": "http://10.8.99.237:8004/v1/54008f41383d472ea1dba87b7e63bedf/stacks/stack1/8e05b46c-16fd-4119-8bd6-44bb2db851c1",
        "rel": "stack"}], "logical_resource_id": "wordpress_instance", "resource_status":
        "CREATE_COMPLETE", "updated_time": "2016-08-18T17:26:22Z", "required_by":
        [], "resource_status_reason": "state changed", "physical_resource_id": "be5bcec1-c72b-4c2f-a17b-bac7d35f6aa1",
        "resource_type": "OS::Nova::Server"}]}'
  recorded_at: Wed, 25 Oct 2017 14:00:13 GMT
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/43dcd1b8a6a5400b8c2ab0888a4eda84/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1f617b25da0e4c6aaff90642553dc42e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-09eeffef-8189-4174-83b2-39480c61aacf
    body:
      encoding: ASCII-8BIT
      string: '{"servers": []}'
  recorded_at: Wed, 25 Oct 2017 14:00:13 GMT
- request:
    method: get
    uri: http://10.8.99.237:8774/v2/54008f41383d472ea1dba87b7e63bedf/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4b8051d9452744cabe8c87b90dc5dde2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-7fac27f1-8a54-464f-a7b2-e40d27821744
    body:
      encoding: ASCII-8BIT
      string: '{"servers_links": [{"href": "http://10.8.99.237:8774/v2/54008f41383d472ea1dba87b7e63bedf/servers/detail?limit=1000&marker=2ca7e7b1-5e2c-46ed-99b5-46a9adc97f31",
        "rel": "next"}], "servers": [{"status": "ACTIVE", "updated": "2016-08-18T17:29:15Z",
        "hostId": "77264e7df43ecbd1af1bf946c81abd626f93d3b05578e2de813ee333", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-237.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:a4:c6:97", "version": 4, "addr": "192.168.1.9",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:a4:c6:97",
        "version": 4, "addr": "172.16.17.13", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.237:8774/v2/54008f41383d472ea1dba87b7e63bedf/servers/8fd434df-3158-460a-94aa-6eb16c1a9f0a",
        "rel": "self"}, {"href": "http://10.8.99.237:8774/54008f41383d472ea1dba87b7e63bedf/servers/8fd434df-3158-460a-94aa-6eb16c1a9f0a",
        "rel": "bookmark"}], "key_name": "EmsRefreshSpec-KeyPair", "image": {"id":
        "ac280031-894c-43a6-a9c6-b7367498cd76", "links": [{"href": "http://10.8.99.237:8774/54008f41383d472ea1dba87b7e63bedf/images/ac280031-894c-43a6-a9c6-b7367498cd76",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "OS-EXT-SRV-ATTR:instance_name": "instance-0000000b", "OS-SRV-USG:launched_at":
[...]
