---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"f1df20309cd84c36"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-0495cf34-3d2c-4e96-8977-3488208b3646
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T14:30:36.108671", "expires":
        "2017-10-25T15:30:36Z", "id": "dd42165c3b3847f3a191a530d8d142e9", "tenant":
        {"description": "admin tenant", "enabled": true, "id": "288cd03df44f49f9ac9ed82bb4216de2",
        "name": "admin"}, "audit_ids": ["LD7uK0sGSuix6y6aqloUQA"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "region": "RegionOne", "internalURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "id": "1b07aa2790a84905880a98bafa755f13", "publicURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://10.8.99.242:9696", "region": "RegionOne", "internalURL": "http://10.8.99.242:9696",
        "id": "3319f5185bf04e8fb0d21c2a11828966", "publicURL": "http://10.8.99.242:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://10.8.99.242:8776/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "region": "RegionOne", "internalURL": "http://10.8.99.242:8776/v2/288cd03d[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/os-availability-zone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-d4c48210-66e6-4d81-b8de-43da369f30c4
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "hosts":
        null, "zoneName": "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:36 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8776/v2/288cd03df44f49f9ac9ed82bb4216de2/os-availability-zone.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 9cf05d3332dc40599c5787ec2a317848
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-d5b800f9-5bc7-4637-8b98-5f5695166ad1
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-d5b800f9-5bc7-4637-8b98-5f5695166ad1
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "zoneName":
        "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:37 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/os-services?all_tenants=True&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-63d838d6-92fa-415f-99e4-ac4b927798a0
    body:
      encoding: ASCII-8BIT
      string: '{"services": [{"status": "enabled", "binary": "nova-consoleauth", "zone":
        "internal", "state": "up", "updated_at": "2017-10-25T14:30:37.000000", "host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason": null,
        "id": 1}, {"status": "enabled", "binary": "nova-scheduler", "zone": "internal",
        "state": "up", "updated_at": "2017-10-25T14:30:27.000000", "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 2}, {"status": "enabled", "binary": "nova-conductor",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T14:30:34.000000",
        "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 3}, {"status": "enabled", "binary": "nova-compute", "zone": "nova",
        "state": "up", "updated_at": "2017-10-25T14:30:36.000000", "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 4}, {"status": "enabled", "binary": "nova-cert",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T14:30:28.000000",
        "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 5}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:37 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/os-services?all_tenants=True&limit=1000&marker=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-420de36a-00e6-4bda-a392-11b0[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/detail?all_tenants=True&is_public=None&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-52040505-4f56-4b58-bcee-b49d69231a05
    body:
      encoding: ASCII-8BIT
      string: '{"flavors": [{"name": "m1.tiny", "links": [{"href": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/1",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/288cd03df44f49f9ac9ed82bb4216de2/flavors/1",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 1, "id": "1"}, {"name": "m1.small", "links": [{"href": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/2",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/288cd03df44f49f9ac9ed82bb4216de2/flavors/2",
        "rel": "bookmark"}], "ram": 2048, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}], "flavors_links": [{"href": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/detail?all_tenants=True&is_public=None&limit=1000&marker=2",
        "rel": "next"}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:38 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/detail?all_tenants=True&is_public=None&limit=1000&marker=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-8b9334b0-6[...]
[...]
- request:
    method: post
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"f1df20309cd84c36"},"tenantName":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-156f40f3-b159-4c85-b2d0-987a8f5c7407
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T14:30:40.151434", "expires":
        "2017-10-25T15:30:40Z", "id": "c8b819c968eb4ea0b664664fe8c97ace", "audit_ids":
        ["RTDgEHbFSUGBV3px_KvFMg"]}, "serviceCatalog": [], "user": {"username": "admin",
        "roles_links": [], "id": "70c7838d439a4bc2a3ac06f7316c6740", "roles": [],
        "name": "admin"}, "metadata": {"is_admin": 0, "roles": []}}}'
  recorded_at: Wed, 25 Oct 2017 14:30:40 GMT
- request:
    method: get
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c8b819c968eb4ea0b664664fe8c97ace
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-8165d0a1-9c06-45fb-aef3-1a593c11c785
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants_links": [], "tenants": [{"description": "", "enabled": true,
        "id": "058128ddeb9a4c958bb149a7229a4e85", "name": "EmsRefreshSpec-Project"},
        {"description": "", "enabled": true, "id": "1eda34753af74336ad4db84dd72ce7c0",
        "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"description": "admin tenant",
        "enabled": true, "id": "288cd03df44f49f9ac9ed82bb4216de2", "name": "admin"},
        {"description": "", "enabled": true, "id": "874af5befd034d1fbff0a4d7e0a1bc5d",
        "name": "EmsRefreshSpec-Project2"}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:40 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/7/os-flavor-access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-281237c0-3405-476a-9746-73e7f9f19054
    body:
      encoding: ASCII-8BIT
      string: '{"flavor_access": [{"tenant_id": "058128ddeb9a4c958bb149a7229a4e85",
        "flavor_id": "7"}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:41 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 751f13b38f014d03a3875e5a00b5891e
  response:
    status:
      code: 300
      message: Multiple Choices
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.3", "links": [{"href":
        "http://10.8.99.242:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v2.2", "links": [{"href": "http://10.8.99.242:9292/v2/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v2.1", "links": [{"href": "http://10.8.99.242:9292/v2/",
        "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.0", "links": [{"href":
        "http://10.8.99.242:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v1.1", "links": [{"href": "http://10.8.99.242:9292/v1/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v1.0", "links": [{"href": "http://10.8.99.242:9292/v1/",
        "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:42 GMT
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images?all_tenants=True&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 751f13b38f014d03a3875e5a00b5891e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-f8feb0c7-0246-422b-a5f0-a3d7ab7acdaa
    body:
      encoding: ASCII-8BIT
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?limit=1000&all_tenants=True"}'
  recorded_at: Wed, 25 Oct 2017 14:30:42 GMT
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 751f13b38f014d03a3875e5a00b5891e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-92fbe335-1201-4b30-ba02-baa18fafa41a
    body:
      encoding: ASCII-8BIT
      string: '{"images": [{"image_state": "available", "container_format": "bare",
        "min_ram": 0, "ramdisk_id": null, "updated_at": "2016-08-18T11:58:43Z", "file":
        "/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc/file", "owner": "058128ddeb9a4c958bb149a7229a4e85",
        "base_image_ref": "71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d", "size": 22020096,
        "user_id": "70c7838d439a4bc2a3ac06f7316c6740", "image_type": "snapshot", "self":
        "/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc", "disk_format": "qcow2",
        "id": "81969d94-5752-4e88-af5e-1675b399b7cc", "owner_id": "058128ddeb9a4c958bb149a7229a4e85",
        "status": "active", "image_location": "snapshot", "tags": [], "kernel_id":
        null, "visibility": "private", "min_disk": 1, "virtual_size": null, "instance_uuid":
        "f809bbed-72a9-40ea-9035-b4e63d7ddaac", "name": "EmsRefreshSpec-Shelved-shelved",
        "checksum": "815616d3e73574919c1c41919721d24e", "created_at": "2016-08-18T11:58:37Z",
        "protected": false, "schema": "/v2/schemas/image"}, {"image_state": "available",
        "container_format": "bare", "min_ram": 0, "ramdisk_id": null, "updated_at":
        "2016-08-18T11:58:06Z", "file": "/v2/images/fc8ffd5b-de3f-4af3-88b3-48eee4e46204/file",
        "owner": "058128ddeb9a4c958bb149a7229a4e85", "base_image_ref": "71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d",
        "size": 22020096, "user_id": "70c7838d439a4bc2a3ac06f7316c6740", "image_type":
        "snapshot", "self": "/v2/images/fc8ffd5b-de3f[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 751f13b38f014d03a3875e5a00b5891e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-da9bdfd6-0725-462c-89cb-10efeb22c77c
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 14:30:43 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/os-keypairs?all_tenants=True&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-17765596-ee89-4553-9f9c-3ba60a4ff6eb
    body:
      encoding: ASCII-8BIT
      string: '{"keypairs": [{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCWmNMnYPT8p/tPOFOzxGPXcozzLkRVzVaBSE0e5Q82boJiofGIw0v4icSfs4dW+rFp1B920pxbId9birdA1T3U00rhvYbnlcC1ju3jiprQNdv65tZr7ubg+Ec3Xh/qp+eqrBpwr3VTZ6RZL5PjwNOpgI6HSVpkrfY6RSMXNh9YGzLFvvFZFEJU2BwByhstIGud2615oOtYcHLFzxWasxN6I7PqmD/PbQjiajBhZtbognAtEAkC87RDbBZFnzs9c6R4qfmE18uLtk3nLAePe+6hA3YRwjtX7Zd8lxE3ImAmHxvuZIKzllMar7mW3OAvf5EY+D5cKbz0yqRv/lcRQWoT
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair", "fingerprint": "45:e0:3b:70:45:91:26:04:1d:4e:2d:14:e7:aa:57:4b"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCkrWy20D73HQXKVcBZnS0e0OSFQxKy5/mGxT57v1HsWvLir1/ZUKPCTD1IPpdcjydS3aF0QJ33XPCixzbLj182YR3a3NzAitw9NuDFb6aGbPuYHlKkH53nbztz/UkdH9JZv4LVvOMx54QfFj5ZgmQl8CqMt0Toll/m1amGhbfbWxiI6lnY4fqd0UTKnVICa+eU/zFmGXiaemZTX/+GY4d3rhSGAhSfaIH7wNy5x1FVFM4aTgKD5a3UNRkhaFALuErr0jM2IHnbAZTu8yPVDHieRN9RG703+5buV1MiBDm3BWAKGsuq8ON8pLGduHFEMJJFa3GIZw/9ejDsVgIUsEnP
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-2", "fingerprint": "8c:de:46:b4:69:ee:4f:89:28:70:32:a3:31:4f:c7:ca"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDMf9P/7y1+tJ5POayUwBSA2gKXcgZNd1oIy6oaG9uljiO8dPLrWcGGdR1Le9kpYLFTdRxdO/UNYKzoTTHMjpc1aFAAaeBSfavLXo87PEkgvqOTbQGzEk3gTBsPQX1i9Fzv99pJn5hwmZvcQPG6X1sT96urgVQMaoA4OoI5AYXPXgh5qPyuBjbFqiIQqdq8jf5bTrPQ05hgfNCcu4wm+YW9oEHDUlf9ErSc5oSYZOAiwkb9z0mFL+Nn77jJLbvsBAdvhrSni3WeBYCMzPI/9BbZRuz1p38Ux/Ttginhy1HeUCD30vnc7Nywuc9M7/lBQxYcg4U+yegnE+0dMmu9ctet
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-3", "fingerprint": "7f:e1:09:c6:63:60:70:e1:05:85:72:64:7c:0a:e4:71"}}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:44 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/os-keypairs?all_tenants=True&limit=1000&marker=EmsRefreshSpec-KeyPair-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-edbd4[...]
[...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 451dd22bd9094030b96dedf739180bb7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-00b78897-2dca-44c5-849c-8aea5915ce16
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": [{"parent": null, "description": "Heat WordPress template
        to support F20, using only Heat OpenStack-native resource types, and without
        the requirement for heat-cfntools in the image. WordPress is web software
        you can use to create a beautiful website or blog. This template installs
        a single-instance WordPress deployment using a local MySQL database to store
        the data.\n", "links": [{"href": "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack3", "stack_user_project_id": "e2c0ea593fb8404cb5808e36b24e8292",
        "creation_time": "2016-08-18T11:52:59Z", "updated_time": null, "stack_owner":
        null, "stack_status": "CREATE_COMPLETE", "id": "960c3d14-205f-4899-a70f-b45b35905bd4"},
        {"parent": null, "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "links": [{"href":
 [...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks?limit=1000&marker=7d7d5883-90e9-4fa6-8f3c-fee2dd0e7aa6&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 451dd22bd9094030b96dedf739180bb7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-40e6b3eb-300d-4104-a7bf-ef898487f736
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 14:30:48 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 451dd22bd9094030b96dedf739180bb7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-0b5e3e9d-5344-4d40-92ba-270728015de8
    body:
      encoding: ASCII-8BIT
      string: '{"stack": {"parent": null, "disable_rollback": true, "description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n", "links": [{"href": "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack3", "stack_user_project_id": "e2c0ea593fb8404cb5808e36b24e8292",
        "stack_owner": null, "creation_time": "2016-08-18T11:52:59Z", "capabilities":
        [], "notification_topics": [], "updated_time": null, "timeout_mins": null,
        "stack_status": "CREATE_COMPLETE", "parameters": {"OS::project_id": "058128ddeb9a4c958bb149a7229a4e85",
        "OS::stack_id": "960c3d14-205f-4899-a70f-b45b35905bd4", "OS::stack_name":
        "stack3", "image_id": "EmsRefreshSpec-Image", "network_id": "a02643f7-b3f2-46fa-bff0-df65c3948616",
        "db_password": "******", "instance_type": "m1.tiny", "db_name": "wordpress",
        "db_username": "******", "db_root_password": "******", "key_name": "EmsRefreshSpec-KeyPair"},
        "id": "960c3d14-205f-4899-a70f-b45b35905bd4", "outputs": [{"output_value":
        "http://192.168.1.5/wordpress", "description": "URL for Wordpress wiki", "output_key":
        "WebsiteURL"}], "template_description": "Heat WordPress template to support
        F20, using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n"}}'
  recorded_at: Wed, 25 Oct 2017 14:30:51 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 451dd22bd9094030b96dedf739180bb7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-77511d56-426c-403f-8ae8-8589042b4723
    body:
      encoding: ASCII-8BIT
      string: '{"outputs": {"WebsiteURL": {"description": "URL for Wordpress wiki",
        "value": {"str_replace": {"params": {"host": {"get_attr": ["wordpress_instance",
        "first_address"]}}, "template": "http://host/wordpress"}}}}, "heat_template_version":
        "2013-05-23", "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parameters":
        {"instance_type": {"default": "m1.small", "type": "string", "description":
        "Instance type for WordPress server", "constraints": [{"description": "instance_type
        must be one of m1.small, m1.medium or m1.large", "allowed_values": ["m1.tiny",
        "m1.small", "m1.medium", "m1.large"]}]}, "network_id": {"type": "string",
        "description": "Name or ID of the network to use"}, "db_password": {"default":
        "admin", "hidden": true, "type": "string", "description": "The WordPress database
        admin account password", "constraints": [{"length": {"max": 41, "min": 1},
        "description": "db_password must be between 1 and 41 characters"}, {"allowed_pattern":
        "[a-zA-Z0-9]*", "description": "db_password must contain only alphanumeric
        characters"}]}, "image_id": {"default": "fedora-20.x86_64", "type": "string",
        "description": "Name or ID of the image to use for the WordPress server. Recommended
        values are fedora-20.i386 or fedora-20.x86_64; get them from http://cloud.fedoraproject.org/fedora-20.i386.qcow2
        or http://cloud.fedoraproject.org/fedora-20.x86_64.qcow2 .\n"}, "db_name":
        {"default": "wordpress", [...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 451dd22bd9094030b96dedf739180bb7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-caf8a7cf-25c1-485e-b4c3-8339eac7df31
    body:
      encoding: ASCII-8BIT
      string: '{"resources": [{"resource_name": "wordpress_instance", "links": [{"href":
        "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4/resources/wordpress_instance",
        "rel": "self"}, {"href": "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4",
        "rel": "stack"}], "logical_resource_id": "wordpress_instance", "resource_status":
        "CREATE_COMPLETE", "updated_time": "2016-08-18T11:52:59Z", "required_by":
        [], "resource_status_reason": "state changed", "physical_resource_id": "820cec87-8e57-4182-a79f-4c41ab0e0d21",
        "resource_type": "OS::Nova::Server"}]}'
  recorded_at: Wed, 25 Oct 2017 14:30:54 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/servers/detail?all_tenants=True&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dd42165c3b3847f3a191a530d8d142e9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-0657b0ff-f936-406f-bc52-d121a52a29f8
    body:
      encoding: ASCII-8BIT
      string: '{"servers_links": [{"href": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/servers/detail?all_tenants=True&limit=1000&marker=f809bbed-72a9-40ea-9035-b4e63d7ddaac",
        "rel": "next"}], "servers": [{"status": "ACTIVE", "updated": "2016-11-28T21:27:26Z",
        "hostId": "101de76d48eaca7d9550b583251df6040c445be5a2c3b07a88c0c2cc", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:dd:19:c4", "version": 4, "addr": "192.168.1.10",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:dd:19:c4",
        "version": 4, "addr": "172.16.17.18", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/servers/0c5006cb-c3d3-4620-8a7e-0e9bad39f74d",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/288cd03df44f49f9ac9ed82bb4216de2/servers/0c5006cb-c3d3-4620-8a7e-0e9bad39f74d",
        "rel": "bookmark"}], "key_name": "EmsRefreshSpec-KeyPair", "image": {"id":
        "fc8ffd5b-de3f-4af3-88b3-48eee4e46204", "links": [{"href": "http://10.8.99.242:8774/288cd03df44f49f9ac9ed82bb4216de2/images/fc8ffd5b-de3f-4af3-88b3-48eee4e46204",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "OS-EXT-SRV-ATTR:instance_name": "instance-00000009", "OS-SRV-USG:launched_at":
        "2016-08-18T11:58:19.000000", "OS-EXT-SRV-ATTR:hypervisor_hostname": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "flavor": {"id": "6", "links": [{"href": "http://10.8.99.242:8774/288cd03df44f49f9ac9ed82bb4216de2/flavors/6",
        "rel": "bookmark"}]}, "id": "0c5006cb-c3d3-4620-8a7e-0e9bad39f74d", "security_groups":
        [{"name": "EmsRefreshSpec-SecurityGroup2"}, {"name": "EmsRefreshSpec-SecurityGroup"}],
        "OS-SRV-USG:terminated_at": null, "OS-EXT-AZ:availability_zone": "nova", "user_id":
        "70c7838d439a4bc2a3ac06f7316c6740", "name": "EmsRefreshSpec-PoweredOn-FromSnapshot",
        "created": "2016-08-18T11:58:09Z", "tenant_id": "058128ddeb9a4c958bb149a7229a4e85",
        "OS-DCF:diskConfig": "MANUAL", "os-extended-volumes:volumes_attached": [],
        "accessIPv4": "", "accessIPv6": "", "progress": 0, "OS-EXT-STS:power_state":
        1, "config_drive": "", "metadata": {}}, {"status": "SHELVED_OFFLOADED", "updated":
[...]
