---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"d9032b61a8de4754","domain":{"id":"default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"id":"default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Subject-Token:
      - 1819a528893a4c02a26db2e14e64ba50
      X-Openstack-Request-Id:
      - req-7c8fe074-5538-4da2-ab4f-366ee2a42401
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token": {"methods": ["password"], "roles": [{"id": "9fe2ff9ee4384b1894a90878d3e92bab",
        "name": "_member_"}, {"id": "e6ea2d27f090432bb811e47290dce55b", "name": "heat_stack_owner"},
        {"id": "e6055e3c27bb4e8ba987a6cd2da07872", "name": "admin"}, {"id": "79d1f8734bd847a1a6cda6e90acb9f81",
        "name": "SwiftOperator"}], "expires_at": "2017-10-25T14:52:11.886080Z", "project":
        {"domain": {"id": "default", "name": "Default"}, "id": "88ae57d444fd485ab2dfddd5a2615d52",
        "name": "admin"}, "catalog": [{"endpoints": [{"region_id": "RegionOne", "url":
        "http://10.8.99.206:5000/v3", "region": "RegionOne", "interface": "public",
        "id": "34cb7f8ea1f0450ab0ec046c9eeb9176"}, {"region_id": "RegionOne", "url":
        "http://10.8.99.206:35357/v3", "region": "RegionOne", "interface": "admin",
        "id": "a879cd474f4f45f0acd813ecd67db5b5"}, {"region_id": "RegionOne", "url":
        "http://10.8.99.206:5000/v3", "region": "RegionOne", "interface": "internal",
        "id": "c42f0b5755644f0dab41c5baee5a4203"}], "type": "identity", "id": "378e5c74fa504811b10c62d26765f7fb",
        "name": "keystone"}, {"endpoints": [{"region_id": "RegionOne", "url": "http://10.8.99.206:9292",
        "region": "RegionOne", "interface": "internal", "id": "240e0fa371c94693a694869ed9dd3190"},
        {"region_id": "RegionOne", "url": "http://10.8.99.206:9292", "region": "RegionOne",
        "interface": "public", "id": "9d8368b60ca34133be09d57bc831e499"}, {"region_id":
        "RegionOne", "url": "http://10.8.99.206:9292", "regio[...]
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/88ae57d444fd485ab2dfddd5a2615d52/os-availability-zone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1819a528893a4c02a26db2e14e64ba50
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-1bb48f08-6b39-41c2-9e98-5dc3072344ec
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "hosts":
        null, "zoneName": "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:52:12 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:8776/v2/88ae57d444fd485ab2dfddd5a2615d52/os-availability-zone.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 66baecfb13f847398e42482903e5cf5c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-5fa620cc-5db8-4bd7-a73e-aaefb24c175c
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-5fa620cc-5db8-4bd7-a73e-aaefb24c175c
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "zoneName":
        "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:52:13 GMT
- request:
    method: post
    uri: http://dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"d9032b61a8de4754","domain":{"id":"default"},"name":"admin"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Subject-Token:
      - 42b880fb1d294c8488c0208d9551d88b
      X-Openstack-Request-Id:
      - req-23a74ec9-be1e-4158-a5e9-cd7fe198bb3d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token": {"methods": ["password"], "expires_at": "2017-10-25T14:52:13.904718Z",
        "extras": {}, "user": {"domain": {"id": "default", "name": "Default"}, "id":
        "0e379b058aea4a7ba72d13cddf21c240", "name": "admin"}, "audit_ids": ["8XLjsXRmSKGT-t80SqI3bA"],
        "issued_at": "2017-10-25T13:52:13.904794Z"}}'
  recorded_at: Wed, 25 Oct 2017 13:52:13 GMT
- request:
    method: get
    uri: http://dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com:5000/v3/users/0e379b058aea4a7ba72d13cddf21c240/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 42b880fb1d294c8488c0208d9551d88b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-98ed1461-6068-4148-ad2e-5e53fed592a9
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"links": {"self": "http://dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com:5000/v3/users/0e379b058aea4a7ba72d13cddf21c240/projects",
        "previous": null, "next": null}, "projects": [{"is_domain": false, "description":
        "", "links": {"self": "http://dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com:5000/v3/projects/0098405163cd4c9dbb42c2cb43eb6fd3"},
        "enabled": true, "id": "0098405163cd4c9dbb42c2cb43eb6fd3", "parent_id": "ef2a3405d1ef4dfd9a3616993ef46a4d",
        "domain_id": "default", "name": "EmsRefreshSpec-Project-parent-test-3"}, {"is_domain":
        false, "description": "", "links": {"self": "http://dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com:5000/v3/projects/28db8f69ba9e4305b7fad82da4c86e74"},
        "enabled": true, "id": "28db8f69ba9e4305b7fad82da4c86e74", "parent_id": null,
        "domain_id": "default", "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"is_domain":
        false, "description": "", "links": {"self": "http://dhcp-8-99-206.cloudfor[...]
[...]
- request:
    method: get
    uri: http://10.8.99.206:5000/v3/users/0e379b058aea4a7ba72d13cddf21c240/projects?domain_id=default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a3b88addc446423c9f582bf976fe0c6b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-69cabc5a-9cb3-429f-85b0-d0938c6165bd
      Content-Type:
      - application/json
    b[...]
[...]
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/os-services?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 885ede74a62245acaba258bb085f4d3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-ea5a188e-c2a7-4583-b384-0392f2ffb562
    body:
      encoding: ASCII-8BIT
      string: '{"services": [{"status": "enabled", "binary": "nova-consoleauth", "host":
        "dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com", "zone": "internal", "state":
        "up", "disabled_reason": null, "id": 1, "updated_at": "2017-10-25T13:52:12.000000"},
        {"status": "enabled", "binary": "nova-scheduler", "host": "dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com",
        "zone": "internal", "state": "up", "disabled_reason": null, "id": 2, "updated_at":
        "2017-10-25T13:52:17.000000"}, {"status": "enabled", "binary": "nova-conductor",
        "host": "dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com", "zone": "internal",
        "state": "up", "disabled_reason": null, "id": 3, "updated_at": "2017-10-25T13:52:13.000000"},
        {"status": "enabled", "binary": "nova-compute", "host": "dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com",
        "zone": "nova", "state": "up", "disabled_reason": null, "id": 5, "updated_at":
        "2017-10-25T13:52:12.000000"}, {"status": "enabled", "binary": "nova-cert",
        "host": "dhcp-8-99-206.cloudforms.lab.eng.rdu2.redhat.com", "zone": "internal",
        "state": "up", "disabled_reason": null, "id": 6, "updated_at": "2017-10-25T13:52:12.000000"}]}'
  recorded_at: Wed, 25 Oct 2017 13:52:18 GMT
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/os-services?limit=1000&marker=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 885ede74a62245acaba258bb085f4d3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-aebbf17c-17a4-41ed-ae46-6a2afb45afbb
    body[...]
[...]
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/flavors/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 885ede74a62245acaba258bb085f4d3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6f4ee486-e51e-4d8d-bb30-ba0b97335dbe
    body:
      encoding: ASCII-8BIT
      string: '{"flavors": [{"name": "m1.tiny", "links": [{"href": "http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/flavors/1",
        "rel": "self"}, {"href": "http://10.8.99.206:8774/0098405163cd4c9dbb42c2cb43eb6fd3/flavors/1",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 1, "id": "1"}, {"name": "m1.small", "links": [{"href": "http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/flavors/2",
        "rel": "self"}, {"href": "http://10.8.99.206:8774/0098405163cd4c9dbb42c2cb43eb6fd3/flavors/2",
        "rel": "bookmark"}], "ram": 2048, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}], "flavors_links": [{"href": "http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/flavors/detail?limit=1000&marker=2",
        "rel": "next"}]}'
  recorded_at: Wed, 25 Oct 2017 13:52:23 GMT
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/flavors/detail?limit=1000&marker=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 885ede74a62245acaba258bb085f4d3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-5abc359a-5ab4-4030-bb0c-ad47f4cefa1d
    b[...]
[...]
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/88ae57d444fd485ab2dfddd5a2615d52/flavors/7/os-flavor-access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 1819a528893a4c02a26db2e14e64ba50
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-cf177513-a04b-4f78-99e6-f24f15e08bc0
    body:
      encoding: ASCII-8BIT
      string: '{"flavor_access": [{"tenant_id": "4637c33fee924ebea81f8d209e452c91",
        "flavor_id": "7"}]}'
  recorded_at: Wed, 25 Oct 2017 13:52:33 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:9292/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d377702491fc4e108d3d86eb4cdfbaed
  response:
    status:
      code: 300
      message: Multiple Choices
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.3", "links": [{"href":
        "http://10.8.99.206:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v2.2", "links": [{"href": "http://10.8.99.206:9292/v2/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v2.1", "links": [{"href": "http://10.8.99.206:9292/v2/",
        "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.0", "links": [{"href":
        "http://10.8.99.206:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v1.1", "links": [{"href": "http://10.8.99.206:9292/v1/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v1.0", "links": [{"href": "http://10.8.99.206:9292/v1/",
        "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 13:52:34 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:9292/v2/images?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a96bb851f9bb4ead94c6010bfce700bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-d8b68ef0-3e72-425a-95a6-9e2a46f23786
    body:
      encoding: ASCII-8BIT
      string: '{"images": [{"image_state": "available", "container_format": "bare",
        "min_ram": 0, "ramdisk_id": null, "updated_at": "2016-08-19T08:40:07Z", "file":
        "/v2/images/f17ed5a2-4e34-4140-a634-0d56b2e564b5/file", "owner": "4637c33fee924ebea81f8d209e452c91",
        "base_image_ref": "b672acdb-654b-41d7-963c-44a0349bd285", "size": 22085632,
        "user_id": "0e379b058aea4a7ba72d13cddf21c240", "image_type": "snapshot", "self":
        "/v2/images/f17ed5a2-4e34-4140-a634-0d56b2e564b5", "disk_format": "qcow2",
        "id": "f17ed5a2-4e34-4140-a634-0d56b2e564b5", "owner_id": "4637c33fee924ebea81f8d209e452c91",
        "status": "active", "image_location": "snapshot", "tags": [], "kernel_id":
        null, "visibility": "private", "min_disk": 1, "virtual_size": null, "instance_uuid":
        "43f23d3a-fe8d-4bbb-9d23-fe1c437c7813", "name": "EmsRefreshSpec-Shelved-shelved",
        "checksum": "43144cf8a015e2746f4622a3025533c7", "created_at": "2016-08-19T08:39:48Z",
        "protected": false, "schema": "/v2/schemas/image"}, {"image_state": "available",
        "container_format": "bare", "min_ram": 0, "ramdisk_id": null, "updated_at":
        "2016-08-19T08:39:15Z", "file": "/v2/images/afa19b9e-6375-431a-9ef0-07723a338c64/file",
        "owner": "4637c33fee924ebea81f8d209e452c91", "base_image_ref": "b672acdb-654b-41d7-963c-44a0349bd285",
        "size": 22020096, "user_id": "0e379b058aea4a7ba72d13cddf21c240", "image_type":
        "snapshot", "self": "/v2/images/afa19b9e-6375-431a-9ef0-07723a[...]
- request:
    method: get
    uri: http://10.8.99.206:9292/v2/images?limit=1000&marker=b672acdb-654b-41d7-963c-44a0349bd285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a96bb851f9bb4ead94c6010bfce700bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7453339c-e25d-4c3d-9324-646cff9fb532
    body:
      encoding: ASCII-8BIT
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?limit=1000"}'
  recorded_at: Wed, 25 Oct 2017 13:52:35 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:9292/v2/images/f17ed5a2-4e34-4140-a634-0d56b2e564b5/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a96bb851f9bb4ead94c6010bfce700bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-2544d1ee-e825-44fa-8779-a8a46937ab4c
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 13:52:43 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/os-keypairs?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 885ede74a62245acaba258bb085f4d3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-ca3fdc39-efe1-4de3-a652-94667fb4b016
    body:
      encoding: ASCII-8BIT
      string: '{"keypairs": [{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKQyhM0ECmYmB8mI4vfeTEaY90skgHYgA/5apgT+cHhKzZX59Go+LGfb98dOCYEjnV3XKdO5dy7MrSdI5QSvGJmJIQPsH4WZNpRNuEhHzcHS1fEPe9zMceRlLafkTeUKhUGMIi1gOmBRdyZtz6fJw37AK6ioM4+16IhXjNVLV09jHn2PsUjh2RsGX5TzA3eHivptzINBD8eMBkyQwS2uejY42FlIg9qBpa8KEMgyo4KLvd/99kw9wLg1D9Y5+3OxA/J6hLfjSBv7Vd7Xvwd4ZmDlkU5+yH88b2ZOte8MyfAnlVA4v8bMdSsAf1e5NvUuZsoZC8goZCHjXmTDSI+yen
        Generated-by-Nova", "name": "EmsRefreshSpec-KeyPair", "fingerprint": "39:47:bf:3e:bd:2d:97:d1:ff:65:f3:95:fc:41:f4:9e"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCTmYFzByXLc1cz47W1HCoQlo40P5/IjhxxEzMug7yQBm5Vn0UTf0OV0L3ZYh0HQZhrAOEdn+fyZ3UN5QK2bahaJqIgZsQ+coK+/0gmAprgv5V0yxxAGGvaos3IrPb6NeqNv1zLzOY+r2XoSkCJ1pjEVBcN28cQcuEQFFYgfGNO9whQy+Z/zk5j6gXz+PEnVoNWrQVrRdFuCTbuRbA5S0D1bkRnvpsa1fgQXHGPgY+U4uoLT73Ck7hdwZ+h1prhWZsMNN511ymljipM7HHlREk0SGJGCR7QtH42ZpDH3nX7imNd9hEWjUsMT1yCEhccc2TXJDgIz8SaqJuy7QYsdNNF
        Generated-by-Nova", "name": "EmsRefreshSpec-KeyPair-2", "fingerprint": "13:fb:2a:0c:78:1d:bc:b0:c2:7d:8c:3e:66:a4:d2:0d"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCbO5U18NVrx2B72GteyHeYLFEX4dAdLi7Ey1POIdH41eFZt3pKUm642nP2nSi4Iy3HeUyn7ZrxCu/SNnztO3dVoBKY4DAJ3tr6ZEQL6qHt3FXNnqYM6UIc7X2JOmlSIoyGkY+Nzz5Nph9tT81cH05pyxpzHieUYb7NV9whyubfQ7zH/GmqK/pLa3cvTvGD+Ew4yqY2/UqoDFw+Tbs2RY+zrWMTFLtkBCIRhBKeeSsDzxOxKK6Mvgb4DF4eONC5/SmXglniVxcyOEXj3kmFv3BEVYTQwfREnGGpjyZ774Z/jEW85+6S0XIgbg55FyvbIUDTOmbo2dBE4CbrkaQh8GCn
        Generated-by-Nova", "name": "EmsRefreshSpec-KeyPair-3", "fingerprint": "c3:5f:7f:38:bb:55:2d:84:c4:22:6c:34:32:6c:ce:a1"}}]}'
  recorded_at: Wed, 25 Oct 2017 13:52:44 GMT
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/os-keypairs?limit=1000&marker=EmsRefreshSpec-KeyPair-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 885ede74a62245acaba258bb085f4d3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-08fea7b5-d9d8-4f74-809[...]
[...]
- request:
    method: get
    uri: http://10.8.99.206:8004/v1/0098405163cd4c9dbb42c2cb43eb6fd3/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - f25aaa169a3d4c3fa82b6d6dbd6c12fe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-da2a5f7d-a4a4-464c-9e38-609f436e4ac3
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 13:52:49 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40767027c40a481883c25a79dc01b4aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-272d3533-126d-49ad-927b-a98762e61e4a
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": [{"description": "Heat WordPress template to support F20,
        using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parent": null,
        "stack_status_reason": "Stack CREATE completed successfully", "stack_name":
        "stack3", "stack_user_project_id": "55e65586ecf04c7d8889a1ab6d3c2879", "tags":
        null, "creation_time": "2016-08-19T08:38:12", "links": [{"href": "http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks/stack3/00c5dc04-2c94-48d2-8031-db08934e9a44",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "00c5dc04-2c94-48d2-8031-db08934e9a44"}, {"description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n", "parent": null, "stack_statu[...]
- request:
    method: get
    uri: http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks?limit=1000&marker=7fff4dfd-c9e1-4536-a0b1-8952a6cbb9d0&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40767027c40a481883c25a79dc01b4aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-d37255e0-679b-4b99-9b85-92c2d4d0e564
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 13:52:52 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks/stack3/00c5dc04-2c94-48d2-8031-db08934e9a44
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40767027c40a481883c25a79dc01b4aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-fb0ca105-d590-4c85-b97a-661870bf071d
    body:
      encoding: ASCII-8BIT
      string: '{"stack": {"disable_rollback": true, "description": "Heat WordPress
        template to support F20, using only Heat OpenStack-native resource types,
        and without the requirement for heat-cfntools in the image. WordPress is web
        software you can use to create a beautiful website or blog. This template
        installs a single-instance WordPress deployment using a local MySQL database
        to store the data.\n", "parent": null, "tags": null, "stack_name": "stack3",
        "stack_user_project_id": "55e65586ecf04c7d8889a1ab6d3c2879", "stack_status_reason":
        "Stack CREATE completed successfully", "creation_time": "2016-08-19T08:38:12",
        "links": [{"href": "http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks/stack3/00c5dc04-2c94-48d2-8031-db08934e9a44",
        "rel": "self"}], "capabilities": [], "notification_topics": [], "updated_time":
        null, "timeout_mins": null, "stack_status": "CREATE_COMPLETE", "stack_owner":
        null, "parameters": {"OS::project_id": "4637c33fee924ebea81f8d209e452c91",
        "OS::stack_id": "00c5dc04-2c94-48d2-8031-db08934e9a44", "OS::stack_name":
        "stack3", "image_id": "EmsRefreshSpec-Image", "network_id": "75b79bcf-d96a-4ab9-b1f1-3a5c21e6289c",
        "db_password": "******", "instance_type": "m1.tiny", "db_name": "wordpress",
        "db_username": "******", "db_root_password": "******", "key_name": "EmsRefreshSpec-KeyPair"},
        "id": "00c5dc04-2c94-48d2-8031-db08934e9a44", "outputs": [{"output_value":
        "http://192.168.0.4/wordpress", "description": "URL for Wordpress wiki", "output_key":
        "WebsiteURL"}], "template_description": "Heat WordPress template to support
        F20, using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n"}}'
  recorded_at: Wed, 25 Oct 2017 13:52:56 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks/stack3/00c5dc04-2c94-48d2-8031-db08934e9a44/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40767027c40a481883c25a79dc01b4aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-9f15040b-fad2-4799-94fa-c3bcd87d3e1e
    body:
      encoding: ASCII-8BIT
      string: '{"outputs": {"WebsiteURL": {"description": "URL for Wordpress wiki",
        "value": {"str_replace": {"params": {"host": {"get_attr": ["wordpress_instance",
        "first_address"]}}, "template": "http://host/wordpress"}}}}, "heat_template_version":
        "2013-05-23", "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parameters":
        {"instance_type": {"default": "m1.small", "type": "string", "description":
        "Instance type for WordPress server", "constraints": [{"description": "instance_type
        must be one of m1.small, m1.medium or m1.large", "allowed_values": ["m1.tiny",
        "m1.small", "m1.medium", "m1.large"]}]}, "network_id": {"type": "string",
        "description": "Name or ID of the network to use"}, "db_password": {"default":
        "admin", "hidden": true, "type": "string", "description": "The WordPress database
        admin account password", "constraints": [{"length": {"max": 41, "min": 1},
        "description": "db_password must be between 1 and 41 characters"}, {"allowed_pattern":
        "[a-zA-Z0-9]*", "description": "db_password must contain only alphanumeric
        characters"}]}, "image_id": {"default": "fedora-20.x86_64", "type": "string",
        "description": "Name or ID of the image to use for the WordPress server. Recommended
        values are fedora-20.i386 or fedora-20.x86_64; get them from http://cloud.fedoraproject.org/fedora-20.i386.qcow2
        or http://cloud.fedoraproject.org/fedora-20.x86_64.qcow2 .\n"}, "db_name":
        {"default": "wordpress", [...]
- request:
    method: get
    uri: http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks/stack3/00c5dc04-2c94-48d2-8031-db08934e9a44/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 40767027c40a481883c25a79dc01b4aa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-31c740ef-2ba6-4ae4-a6f0-5109eda0b3ee
    body:
      encoding: ASCII-8BIT
      string: '{"resources": [{"resource_name": "wordpress_instance", "links": [{"href":
        "http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks/stack3/00c5dc04-2c94-48d2-8031-db08934e9a44/resources/wordpress_instance",
        "rel": "self"}, {"href": "http://10.8.99.206:8004/v1/4637c33fee924ebea81f8d209e452c91/stacks/stack3/00c5dc04-2c94-48d2-8031-db08934e9a44",
        "rel": "stack"}], "logical_resource_id": "wordpress_instance", "creation_time":
        "2016-08-19T08:38:12", "resource_status": "CREATE_COMPLETE", "updated_time":
        "2016-08-19T08:38:12", "required_by": [], "resource_status_reason": "state
        changed", "physical_resource_id": "40989f26-9c38-4f72-b739-afccb44397cf",
        "resource_type": "OS::Nova::Server"}]}'
  recorded_at: Wed, 25 Oct 2017 13:52:59 GMT
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/0098405163cd4c9dbb42c2cb43eb6fd3/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 885ede74a62245acaba258bb085f4d3d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-95ae533d-fba8-4ace-ba40-a3eb9c49a062
    body:
      encoding: ASCII-8BIT
      string: '{"servers": []}'
  recorded_at: Wed, 25 Oct 2017 13:52:59 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.206:8774/v2/4637c33fee924ebea81f8d209e452c91/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
[...]
