---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"c2004d455a054b7c"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-43b218ac-2a27-435c-b956-2c5914736d72
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T13:51:42.593036", "expires":
        "2017-10-25T14:51:42Z", "id": "4b1bbce97d60476b81fba61794176d74", "tenant":
        {"description": "admin tenant", "enabled": true, "id": "e54e5c3c19e34720b05661f2ea1ea00a",
        "name": "admin"}, "audit_ids": ["aLa5cm9sRPa8HtDm098wVQ"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "region": "RegionOne", "internalURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "id": "33f58c6950134a2381bb3668fae5a325", "publicURL": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://10.8.99.233:9696", "region": "RegionOne", "internalURL": "http://10.8.99.233:9696",
        "id": "5b097055aff24a40aa4cd2d7317c9108", "publicURL": "http://10.8.99.233:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://10.8.99.233:8776/v2/e54e5c3c19e34720b05661f2ea1ea00a",
        "region": "RegionOne", "internalURL": "http://10.8.99.233:8776/v2/e54e5c3c[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/servers/ca4f3a16-bae3-4407-83e9-f77b28af0f2b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4b1bbce97d60476b81fba61794176d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6b9d580d-19d5-4777-b32f-4196278593d9
    body:
      encoding: ASCII-8BIT
      string: '{"server": {"status": "ACTIVE", "updated": "2016-11-11T13:51:18Z",
        "hostId": "bb5e57f091d4c5737235b6ea23cd3cf06921fdb1ff1e90c2eb3098a9", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:e1:0b:2c", "version": 4, "addr": "192.168.0.5",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:e1:0b:2c",
        "version": 4, "addr": "172.16.17.4", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/servers/ca4f3a16-bae3-4407-83e9-f77b28af0f2b",
        "rel": "self"}, {"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/servers/ca4f3a16-bae3-4407-83e9-f77b28af0f2b",
        "rel": "bookmark"}], "key_name": "EmsRefreshSpec-KeyPair", "image": {"id":
        "bb799f70-5e02-461b-8324-17ee88259c7b", "links": [{"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/images/bb799f70-5e02-461b-8324-17ee88259c7b",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "OS-EXT-SRV-ATTR:instance_name": "instance-00000004", "OS-SRV-USG:launched_at":
        "2016-11-11T13:51:08.000000", "OS-EXT-SRV-ATTR:hypervisor_hostname": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com",
        "flavor": {"id": "6", "links": [{"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/flavors/6",
        "rel": "bookmark"}]}, "id": "ca4f3a16-bae3-4407-83e9-f77b28af0f2b", "security_groups":
        [{"name": "EmsRefreshSpec-SecurityGroup2"}, {"name": "EmsRefreshSpec-SecurityGroup"}],
        "OS-SRV-USG:terminated_at": null, "OS-EXT-AZ:availability_zone": "nova", "user_id":
        "80ea157498b44d08aa6d6f54b8a7c3e7", "name": "EmsRefreshSpec-PoweredOn", "created":
        "2016-11-11T13:50:32Z", "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a", "OS-DCF:diskConfig":
        "MANUAL", "os-extended-volumes:volumes_attached": [{"id": "0a55c0d5-c780-4e7d-9d09-47f5520c7448"},
        {"id": "2c774148-c11a-434c-aabb-7fa9c82c37ce"}], "accessIPv4": "", "accessIPv6":
        "", "progress": 0, "OS-EXT-STS:power_state": 1, "config_drive": "", "metadata":
        {}}}'
  recorded_at: Wed, 25 Oct 2017 13:51:46 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/servers/ca4f3a16-bae3-4407-83e9-f77b28af0f2b/os-interface
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4b1bbce97d60476b81fba61794176d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6f32e6f9-dc03-4261-84d0-8b55bfac00f4
    body:
      encoding: ASCII-8BIT
      string: '{"interfaceAttachments": [{"port_state": "ACTIVE", "fixed_ips": [{"subnet_id":
        "104c081f-97dd-42b7-8930-98abbd015c74", "ip_address": "192.168.0.5"}], "port_id":
        "dda2ebad-f144-4f63-9a75-cbd4fe25e3e9", "net_id": "c0e8e42b-005e-4183-8f25-fa91b3e441c1",
        "mac_addr": "fa:16:3e:e1:0b:2c"}]}'
  recorded_at: Wed, 25 Oct 2017 13:51:47 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/servers/ca4f3a16-bae3-4407-83e9-f77b28af0f2b/os-security-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4b1bbce97d60476b81fba61794176d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-de6c846b-9b27-4e77-a3b9-aa81fc0a9368
    body:
      encoding: ASCII-8BIT
      string: '{"security_groups": [{"rules": [{"from_port": 3, "group": {"tenant_id":
        "69f8f7205ade4aa59084c32c83e60b5a", "name": "EmsRefreshSpec-SecurityGroup"},
        "ip_protocol": "tcp", "to_port": 4, "parent_group_id": "fd147cb7-7456-43d9-a01f-c06e21b4e6fb",
        "ip_range": {}, "id": "15d247b8-904d-45a5-8c51-1691a92ef179"}, {"from_port":
        80, "group": {"tenant_id": "69f8f7205ade4aa59084c32c83e60b5a", "name": "EmsRefreshSpec-SecurityGroup"},
        "ip_protocol": "tcp", "to_port": 80, "parent_group_id": "fd147cb7-7456-43d9-a01f-c06e21b4e6fb",
        "ip_range": {}, "id": "16c45d6d-a1bd-48ea-8147-350e89b6821e"}, {"from_port":
        1, "group": {}, "ip_protocol": "udp", "to_port": 65535, "parent_group_id":
        "fd147cb7-7456-43d9-a01f-c06e21b4e6fb", "ip_range": {"cidr": "0.0.0.0/0"},
        "id": "2dd82e10-6b62-4c2c-8255-c2e3b63d9119"}, {"from_port": 443, "group":
        {}, "ip_protocol": "tcp", "to_port": 443, "parent_group_id": "fd147cb7-7456-43d9-a01f-c06e21b4e6fb",
        "ip_range": {"cidr": "1:2:3:4:5:6:7:abc8/128"}, "id": "40f0d754-2b5b-4965-ac5b-4b2d662225c1"},
        {"from_port": -1, "group": {}, "ip_protocol": "icmp", "to_port": -1, "parent_group_id":
        "fd147cb7-7456-43d9-a01f-c06e21b4e6fb", "ip_range": {"cidr": "1.2.3.4/30"},
        "i[...]
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-floating-ips
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4b1bbce97d60476b81fba61794176d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-809e73ce-bbbe-4161-bf74-a21a55ea2b16
    body:
      encoding: ASCII-8BIT
      string: '{"floating_ips": []}'
  recorded_at: Wed, 25 Oct 2017 13:51:48 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '067433228c744fb688a613c5ef7884eb'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.0", "links": [{"href":
        "http://10.8.99.233:9696/v2.0", "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 13:51:49 GMT
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0/floatingips?floating_ip_address=172.16.17.4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '067433228c744fb688a613c5ef7884eb'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-a815fdd1-657a-4ebf-aa4b-9e1cf89a4e16
    body:
      encoding: ASCII-8BIT
      string: '{"floatingips": [{"floating_network_id": "20af6027-7aeb-432a-ab3b-d7217faa2f1c",
        "router_id": "57e17608-8ac6-44a6-803e-f42ec15e9d1e", "fixed_ip_address": "192.168.0.5",
        "floating_ip_address": "172.16.17.4", "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "status": "ACTIVE", "port_id": "dda2ebad-f144-4f63-9a75-cbd4fe25e3e9", "id":
        "855b23e7-1ace-4c22-8c02-2160d3cde900"}]}'
  recorded_at: Wed, 25 Oct 2017 13:51:49 GMT
- request:
    method: post
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"c2004d455a054b7c"},"tenantName":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-e8449cac-331c-4fe7-85f7-f22b92fdcc81
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T13:51:50.166022", "expires":
        "2017-10-25T14:51:50Z", "id": "107d25e259144a4cbbfd95af63e52866", "audit_ids":
        ["MLvEhDrKRgqvZENJCeJ0XA"]}, "serviceCatalog": [], "user": {"username": "admin",
        "roles_links": [], "id": "80ea157498b44d08aa6d6f54b8a7c3e7", "roles": [],
        "name": "admin"}, "metadata": {"is_admin": 0, "roles": []}}}'
  recorded_at: Wed, 25 Oct 2017 13:51:50 GMT
- request:
    method: get
    uri: http://dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 107d25e259144a4cbbfd95af63e52866
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-569c424e-c876-4671-8dd7-69a35631a1db
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants_links": [], "tenants": [{"description": "", "enabled": true,
        "id": "69f8f7205ade4aa59084c32c83e60b5a", "name": "EmsRefreshSpec-Project"},
        {"description": "", "enabled": true, "id": "b458a5c25c3749758f4c0661940b3ba8",
        "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"description": "admin tenant",
        "enabled": true, "id": "e54e5c3c19e34720b05661f2ea1ea00a", "name": "admin"},
        {"description": "", "enabled": true, "id": "e8f744b1fc6a487681d35fb275252608",
        "name": "EmsRefreshSpec-Project2"}]}'
  recorded_at: Wed, 25 Oct 2017 13:51:50 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e047b05007384d939e3e1af2f0c8de64
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-0a3d2dc8-306a-4255-a603-6832e08a24b1
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants_links": [], "tenants": [{"description": "", "enabled": true,
        "id": "69f8f7205ade4aa59084c32c83e60b5a", "name": "EmsRefreshSpec-Project"},
        {"description": "", "enabled": true, "id": "b458a5c25c3749758f4c0661940b3ba8",
        "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"description": "admin tenant",
        "enabled": true, "id": "e54e5c3c19e34720b05661f2ea1ea00a", "name": "admin"},
        {"description": "", "enabled": true, "id": "e8f744b1fc6a487681d35fb275252608",
        "name": "EmsRefreshSpec-Project2"}]}'
  recorded_at: Wed, 25 Oct 2017 13:51:51 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4b1bbce97d60476b81fba61794176d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-22dbf7ae-e3f9-4825-a36a-0d3a734559ab
    body:
      encoding: ASCII-8BIT
      string: '{"flavor": {"name": "m1.ems_refresh_spec", "links": [{"href": "http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/flavors/6",
        "rel": "self"}, {"href": "http://10.8.99.233:8774/e54e5c3c19e34720b05661f2ea1ea00a/flavors/6",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": 512, "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        1, "disk": 1, "id": "6"}}'
  recorded_at: Wed, 25 Oct 2017 13:51:51 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9292/v2/images/bb799f70-5e02-461b-8324-17ee88259c7b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 023b2bb7b9c1450cb65ac57981c1640b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-b587c8cf-4906-40b4-b94b-a6e727f5e03f
    body:
      encoding: ASCII-8BIT
      string: '{"status": "active", "name": "EmsRefreshSpec-Image", "tags": [], "container_format":
        "bare", "created_at": "2016-11-11T13:49:09Z", "size": 13287936, "disk_format":
        "qcow2", "updated_at": "2016-11-11T13:49:13Z", "visibility": "private", "self":
        "/v2/images/bb799f70-5e02-461b-8324-17ee88259c7b", "min_disk": 0, "protected":
        false, "id": "bb799f70-5e02-461b-8324-17ee88259c7b", "file": "/v2/images/bb799f70-5e02-461b-8324-17ee88259c7b/file",
        "checksum": "ee1eca47dc88f4879d8a229cc70a07c6", "owner": "69f8f7205ade4aa59084c32c83e60b5a",
        "virtual_size": null, "min_ram": 0, "schema": "/v2/schemas/image"}'
  recorded_at: Wed, 25 Oct 2017 13:51:52 GMT
- request:
    method: get
    uri: http://10.8.99.233:9292/v2/images/bb799f70-5e02-461b-8324-17ee88259c7b/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 023b2bb7b9c1450cb65ac57981c1640b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-f50f9a5d-a3df-4243-ae8c-6a7ca0093f67
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 13:51:53 GMT
- request:
    method: get
    uri: http://10.8.99.233:8774/v2/e54e5c3c19e34720b05661f2ea1ea00a/os-keypairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4b1bbce97d60476b81fba61794176d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-116f5d6e-15c1-4034-8127-bba611835ef4
    body:
      encoding: ASCII-8BIT
      string: '{"keypairs": [{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCn6mhl9SBfXCBF8wcPeaNLi/0ZTbkOZb+3S4m1lEcfT6JVr1+Y9Pr91Kp228HrjFvVUGIMIgPytuK1rc6ytXqfzuar7fPZTxXSmUb0f+zz+eWRvbkvd9RgP4pqsENL3cPyjyTi/iE7GhpX7prItSA0HJOxDDFmeKupBudh4p2UpC5mwHyE0NonkjHfRQAnJNUz6wCcZbobTRXS+PVVZ0t9kQH6iG58iPQeXUzupZVjsPStksLA2Gtu5wUXewuIM1QbBB+GtGKUBZ7UKESO4oueKIH0Lu3z5SWA9MfGd2oyTPL0pbBKaCRMpzhKvIbaDIGoDu1h7kOFBcJQwPOLRkI/
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair", "fingerprint": "4d:d0:d7:0a:f6:87:3e:05:04:91:49:91:ef:49:1f:33"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNbYzQK57vApkpA9G7AlbXmYHUgtqKsFIqOtp/X+ZmM3xgtXAmrKuQzwpKXyjUED6FRj8gHl3lueGzXJrrl6G5bUYfH8iWhVi+pFmx24JIM4cvwSNl+q12FCrZjM0nRuFnYoBbd+gVyqpve1cDC7vlUUM9xtgaYTCbv4RepsdfeWw/HohSO1inpx297TSfWOXpVP2CTv67tvTbVGPv+r9RV4R1lHMZYJXVf3pjjJ0NB6LT9SogyDPNQL12PVwFNTYG9a/N/Fa33aanILwU2ffAgquyIcGT26YXp5br8J/3L7Wt+Lw+CkmhHKlgr+yLfkWHYp4X+uFBLoxUl0wPQkft
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-2", "fingerprint": "95:42:c9:d1:33:ec:4f:2c:4f:e8:55:00:ba:b0:4c:78"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwcaKcZZF6YrVWjgItxRWZyClehIYKU7tIQS3f1AbUzf/RBc3SrsZFtfPgzMXiX+YFxoxWUf6WCH7dJPZsmEaUJ21GbZ8s29ohCg67n9PL+kezdq9Ukm6CdojX0rsZfU/EKMhObvEmAzJ1ue0A2KQCrdSM92iO3BWcWFVjmxCZRB40eZvcvEbZc32s1MdxOk5cDrA0AsmFVyas3UeqWCE7U6SRWJIa3bjV34qeJWELZ6L7/XzdKYkiBpS0rjHuIejI73VSq082vyph8f8TE4bc3g57Sn4O1AbV7/9aIW+lA+7qw+MJ/7aVWRAtil0OQkhLc0mXmFXmUGMJkUHLFkUj
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-3", "fingerprint": "5f:98:28:4d:f4:f1:0d:0e:51:07:b4:7b:d7:f4:e6:cd"}}]}'
  recorded_at: Wed, 25 Oct 2017 13:51:53 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0/networks/c0e8e42b-005e-4183-8f25-fa91b3e441c1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '067433228c744fb688a613c5ef7884eb'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-11f7d141-0969-4930-b73f-2c82e3929461
    body:
      encoding: ASCII-8BIT
      string: '{"network": {"status": "ACTIVE", "subnets": ["104c081f-97dd-42b7-8930-98abbd015c74",
        "d53802a5-f0f6-48ba-9207-dbd9b13acac3"], "name": "EmsRefreshSpec-NetworkPrivate",
        "provider:physical_network": null, "admin_state_up": true, "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "mtu": 0, "router:external": false, "shared": false, "provider:network_type":
        "vxlan", "id": "c0e8e42b-005e-4183-8f25-fa91b3e441c1", "provider:segmentation_id":
        14}}'
  recorded_at: Wed, 25 Oct 2017 13:51:54 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0/subnets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '067433228c744fb688a613c5ef7884eb'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-eea83fc7-6510-4ebf-ba14-aa9414ca4197
    body:
      encoding: ASCII-8BIT
      string: '{"subnets": [{"name": "EmsRefreshSpec-IsolatedSubnetPrivate_2", "enable_dhcp":
        true, "network_id": "6ad8942f-11ef-4419-bdf5-9ba3561b6281", "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "dns_nameservers": [], "gateway_ip": "192.168.50.1", "ipv6_ra_mode": null,
        "allocation_pools": [{"start": "192.168.50.4", "end": "192.168.50.4"}, {"start":
        "192.168.50.2", "end": "192.168.50.2"}], "host_routes": [], "ip_version":
        4, "ipv6_address_mode": null, "cidr": "192.168.50.0/24", "id": "826fd5a9-7a7a-4c40-a9b1-bd69041bbad4",
        "subnetpool_id": null}, {"name": "EmsRefreshSpec-SubnetPrivate_20", "enable_dhcp":
        true, "network_id": "9e63fc1a-c0d4-4a1d-b91c-07e6c9c85076", "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "dns_nameservers": [], "gateway_ip": "192.168.20.1", "ipv6_ra_mode": null,
        "allocation_pools": [{"start": "192.168.20.2", "end": "192.168.20.254"}],
        "host_routes": [], "ip_version": 4, "ipv6_address_mode": null, "cidr": "192.168.20.0/24",
        "id": "2092b802-1034-4fb8-9c5e-1ec61d1e463f",[...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0/ports/dda2ebad-f144-4f63-9a75-cbd4fe25e3e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '067433228c744fb688a613c5ef7884eb'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-274fe047-6073-4c14-8e74-517573c08342
    body:
      encoding: ASCII-8BIT
      string: '{"port": {"status": "ACTIVE", "binding:host_id": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com",
        "allowed_address_pairs": [], "extra_dhcp_opts": [], "dns_assignment": [{"hostname":
        "host-192-168-0-5", "ip_address": "192.168.0.5", "fqdn": "host-192-168-0-5.openstacklocal."}],
        "device_owner": "compute:None", "binding:profile": {}, "fixed_ips": [{"subnet_id":
        "104c081f-97dd-42b7-8930-98abbd015c74", "ip_address": "192.168.0.5"}], "id":
        "dda2ebad-f144-4f63-9a75-cbd4fe25e3e9", "security_groups": ["e4836528-d0df-425e-a117-ae8ec6f356d4",
        "fd147cb7-7456-43d9-a01f-c06e21b4e6fb"], "device_id": "ca4f3a16-bae3-4407-83e9-f77b28af0f2b",
        "name": "", "admin_state_up": true, "network_id": "c0e8e42b-005e-4183-8f25-fa91b3e441c1",
        "dns_name": "", "binding:vif_details": {"port_filter": true, "ovs_hybrid_plug":
        true}, "binding:vnic_type": "normal", "binding:vif_type": "ovs", "tenant_id":
        "69f8f7205ade4aa59084c32c83e60b5a", "mac_address": "fa:16:3e:e1:0b:2c"}}'
  recorded_at: Wed, 25 Oct 2017 13:51:55 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0/ports?device_id=57e17608-8ac6-44a6-803e-f42ec15e9d1e&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 862e090bf84b4b2fabfc7a4a71c98ceb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-1507a764-e15f-427f-8aed-01e77a54f44d
    body:
      encoding: ASCII-8BIT
      string: '{"ports": [{"status": "ACTIVE", "binding:host_id": "dhcp-8-99-233.cloudforms.lab.eng.rdu2.redhat.com",
        "allowed_address_pairs": [], "extra_dhcp_opts": [], "dns_assignment": [{"hostname":
        "host-192-168-1-1", "ip_address": "192.168.1.1", "fqdn": "host-192-168-1-1.openstacklocal."}],
        "device_owner": "network:router_interface", "binding:profile": {}, "fixed_ips":
        [{"subnet_id": "d53802a5-f0f6-48ba-9207-dbd9b13acac3", "ip_address": "192.168.1.1"}],
        "id": "02b5cbb1-6072-[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0/ports?device_id=57e17608-8ac6-44a6-803e-f42ec15e9d1e&limit=1000&marker=9330caba-d3ec-4675-b68a-b80fffae6365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 862e090bf84b4b2fabfc7a4a71c98ceb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request[...]
[...]
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0/routers/57e17608-8ac6-44a6-803e-f42ec15e9d1e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '067433228c744fb688a613c5ef7884eb'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-c6d27df4-4a79-4b1e-8747-b0f7104c82eb
    body:
      encoding: ASCII-8BIT
      string: '{"router": {"status": "ACTIVE", "external_gateway_info": {"network_id":
        "20af6027-7aeb-432a-ab3b-d7217faa2f1c", "enable_snat": true, "external_fixed_ips":
        [{"subnet_id": "33da95a6-bded-44d8-be36-6cc97f3d72bd", "ip_address": "172.16.17.2"}]},
        "name": "EmsRefreshSpec-Router", "admin_state_up": true, "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "distributed": false, "routes": [], "ha": false, "id": "57e17608-8ac6-44a6-803e-f42ec15e9d1e"}}'
  recorded_at: Wed, 25 Oct 2017 13:52:03 GMT
- request:
    method: get
    uri: http://10.8.99.233:9696/v2.0/security-groups/fd147cb7-7456-43d9-a01f-c06e21b4e6fb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - '067433228c744fb688a613c5ef7884eb'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-094548ba-f170-47c3-b0ef-71401c859ee0
    body:
      encoding: ASCII-8BIT
      string: '{"security_group": {"tenant_id": "69f8f7205ade4aa59084c32c83e60b5a",
        "description": "EmsRefreshSpec-SecurityGroup description", "id": "fd147cb7-7456-43d9-a01f-c06e21b4e6fb",
        "security_group_rules": [{"remote_group_id": "fd147cb7-7456-43d9-a01f-c06e21b4e6fb",
        "direction": "ingress", "remote_ip_prefix": null, "protocol": "tcp", "ethertype":
        "IPv4", "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a", "port_range_max":
        4, "port_range_min": 3, "id": "15d247b8-904d-45a5-8c51-1691a92ef179", "security_group_id":
        "fd147cb7-7456-43d9-a01f-c06e21b4e6fb"}, {"remote_group_id": "fd147cb7-7456-43d9-a01f-c06e21b4e6fb",
        "direction": "ingress", "remote_ip_prefix": null, "protocol": "tcp", "ethertype":
        "IPv4", "tenant_id": "69f8f7205ade4aa59084c32c83e60b5a", "port_range_max":
        80, "port_range_min": 80, "id": "16c45d6d-a1bd-48ea-8147-350e89b6821e", "security_group_id":
        "fd147cb7-7456-43d9-a01f-c06e21b4e6fb"}, {"remote_group_id": null, "direction":
        "egress", "remote_ip[...]
[...]
