---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"f1df20309cd84c36"},"tenantName":"admin"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-d21c49a4-8261-4b44-94e8-3223b8184d58
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T14:28:56.167076", "expires":
        "2017-10-25T15:28:56Z", "id": "dea3228b5f234c8697b11ea49236ca65", "tenant":
        {"description": "admin tenant", "enabled": true, "id": "288cd03df44f49f9ac9ed82bb4216de2",
        "name": "admin"}, "audit_ids": ["CMJtTMT4Qf2VSnIiw2krlg"]}, "serviceCatalog":
        [{"endpoints": [{"adminURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "region": "RegionOne", "internalURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "id": "1b07aa2790a84905880a98bafa755f13", "publicURL": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2"}],
        "endpoints_links": [], "type": "compute", "name": "nova"}, {"endpoints": [{"adminURL":
        "http://10.8.99.242:9696", "region": "RegionOne", "internalURL": "http://10.8.99.242:9696",
        "id": "3319f5185bf04e8fb0d21c2a11828966", "publicURL": "http://10.8.99.242:9696"}],
        "endpoints_links": [], "type": "network", "name": "neutron"}, {"endpoints":
        [{"adminURL": "http://10.8.99.242:8776/v2/288cd03df44f49f9ac9ed82bb4216de2",
        "region": "RegionOne", "internalURL": "http://10.8.99.242:8776/v2/288cd03d[...]
[...]
- request:
    method: post
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"passwordCredentials":{"username":"admin","password":"f1df20309cd84c36"},"tenantName":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-5ba76a95-454f-4ffe-b281-9926f3c74e3a
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access": {"token": {"issued_at": "2017-10-25T14:28:57.127150", "expires":
        "2017-10-25T15:28:57Z", "id": "fbb451ebc1934ff8945c3b91e1dd5056", "audit_ids":
        ["YTR5gYJTRQGOPc7bn3HU8g"]}, "serviceCatalog": [], "user": {"username": "admin",
        "roles_links": [], "id": "70c7838d439a4bc2a3ac06f7316c6740", "roles": [],
        "name": "admin"}, "metadata": {"is_admin": 0, "roles": []}}}'
  recorded_at: Wed, 25 Oct 2017 14:28:57 GMT
- request:
    method: get
    uri: http://dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com:5000/v2.0/tenants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - fbb451ebc1934ff8945c3b91e1dd5056
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-d8d1d870-b414-4459-8695-c74792fe585d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tenants_links": [], "tenants": [{"description": "", "enabled": true,
        "id": "058128ddeb9a4c958bb149a7229a4e85", "name": "EmsRefreshSpec-Project"},
        {"description": "", "enabled": true, "id": "1eda34753af74336ad4db84dd72ce7c0",
        "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"description": "admin tenant",
        "enabled": true, "id": "288cd03df44f49f9ac9ed82bb4216de2", "name": "admin"},
        {"description": "", "enabled": true, "id": "874af5befd034d1fbff0a4d7e0a1bc5d",
        "name": "EmsRefreshSpec-Project2"}]}'
  recorded_at: Wed, 25 Oct 2017 14:28:57 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/os-services?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 04076f90c051445ea2623af16c50ff6b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-d9e37367-d00d-4103-b0ad-5cd51b36c26e
    body:
      encoding: ASCII-8BIT
      string: '{"services": [{"status": "enabled", "binary": "nova-consoleauth", "zone":
        "internal", "state": "up", "updated_at": "2017-10-25T14:28:57.000000", "host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason": null,
        "id": 1}, {"status": "enabled", "binary": "nova-scheduler", "zone": "internal",
        "state": "up", "updated_at": "2017-10-25T14:28:57.000000", "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 2}, {"status": "enabled", "binary": "nova-conductor",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T14:28:54.000000",
        "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 3}, {"status": "enabled", "binary": "nova-compute", "zone": "nova",
        "state": "up", "updated_at": "2017-10-25T14:28:56.000000", "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 4}, {"status": "enabled", "binary": "nova-cert",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T14:28:58.000000",
        "host": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 5}]}'
  recorded_at: Wed, 25 Oct 2017 14:28:59 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/os-services?limit=1000&marker=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 04076f90c051445ea2623af16c50ff6b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-148de158-022b-4066-9e97-1f4cf3b8c394
    body[...]
[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 85e8cdda2da04e109aee0bbd298b1e21
  response:
    status:
      code: 300
      message: Multiple Choices
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.3", "links": [{"href":
        "http://10.8.99.242:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v2.2", "links": [{"href": "http://10.8.99.242:9292/v2/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v2.1", "links": [{"href": "http://10.8.99.242:9292/v2/",
        "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.0", "links": [{"href":
        "http://10.8.99.242:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v1.1", "links": [{"href": "http://10.8.99.242:9292/v1/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v1.0", "links": [{"href": "http://10.8.99.242:9292/v1/",
        "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 14:29:02 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 29977bf18e4f4d738563e636ee60ca70
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7272862a-cce5-4c0a-87e5-d814563a2fdf
    body:
      encoding: ASCII-8BIT
      string: '{"images": [{"image_state": "available", "container_format": "bare",
        "min_ram": 0, "ramdisk_id": null, "updated_at": "2016-08-18T11:58:43Z", "file":
        "/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc/file", "owner": "058128ddeb9a4c958bb149a7229a4e85",
        "base_image_ref": "71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d", "size": 22020096,
        "user_id": "70c7838d439a4bc2a3ac06f7316c6740", "image_type": "snapshot", "self":
        "/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc", "disk_format": "qcow2",
        "id": "81969d94-5752-4e88-af5e-1675b399b7cc", "owner_id": "058128ddeb9a4c958bb149a7229a4e85",
        "status": "active", "image_location": "snapshot", "tags": [], "kernel_id":
        null, "visibility": "private", "min_disk": 1, "virtual_size": null, "instance_uuid":
        "f809bbed-72a9-40ea-9035-b4e63d7ddaac", "name": "EmsRefreshSpec-Shelved-shelved",
        "checksum": "815616d3e73574919c1c41919721d24e", "created_at": "2016-08-18T11:58:37Z",
        "protected": false, "schema": "/v2/schemas/image"}, {"image_state": "available",
        "container_format": "bare", "min_ram": 0, "ramdisk_id": null, "updated_at":
        "2016-08-18T11:58:06Z", "file": "/v2/images/fc8ffd5b-de3f-4af3-88b3-48eee4e46204/file",
        "owner": "058128ddeb9a4c958bb149a7229a4e85", "base_image_ref": "71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d",
        "size": 22020096, "user_id": "70c7838d439a4bc2a3ac06f7316c6740", "image_type":
        "snapshot", "self": "/v2/images/fc8ffd5b-de3f-4af3-88b3-48eee4[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images?limit=1000&marker=71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 29977bf18e4f4d738563e636ee60ca70
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-630ad02b-fe18-40a8-9fef-a0f9543efe10
    body:
      encoding: ASCII-8BIT
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?limit=1000"}'
  recorded_at: Wed, 25 Oct 2017 14:29:04 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:9292/v2/images/81969d94-5752-4e88-af5e-1675b399b7cc/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 29977bf18e4f4d738563e636ee60ca70
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-57dd21ba-64da-4921-a2d7-52f28fc84b2b
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 14:29:07 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d42611725f234f5cbb9041f2805749ee
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-e92f5a08-4ebb-45e0-afd2-2cab4587bd58
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": [{"parent": null, "description": "Heat WordPress template
        to support F20, using only Heat OpenStack-native resource types, and without
        the requirement for heat-cfntools in the image. WordPress is web software
        you can use to create a beautiful website or blog. This template installs
        a single-instance WordPress deployment using a local MySQL database to store
        the data.\n", "links": [{"href": "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack3", "stack_user_project_id": "e2c0ea593fb8404cb5808e36b24e8292",
        "creation_time": "2016-08-18T11:52:59Z", "updated_time": null, "stack_owner":
        null, "stack_status": "CREATE_COMPLETE", "id": "960c3d14-205f-4899-a70f-b45b35905bd4"},
        {"parent": null, "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "links": [{"href":
 [...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks?limit=1000&marker=7d7d5883-90e9-4fa6-8f3c-fee2dd0e7aa6&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d42611725f234f5cbb9041f2805749ee
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-861ad42e-6825-4e38-9016-b7184889d4d6
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 14:29:10 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d42611725f234f5cbb9041f2805749ee
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7506de32-bb15-4b19-b13c-479ab820fdf4
    body:
      encoding: ASCII-8BIT
      string: '{"stack": {"parent": null, "disable_rollback": true, "description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n", "links": [{"href": "http://10.8.99.242:8004/v1/058128ddeb9a4c958bb149a7229a4e85/stacks/stack3/960c3d14-205f-4899-a70f-b45b35905bd4",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack3", "stack_user_project_id": "e2c0ea593fb8404cb5808e36b24e8292",
        "stack_owner": null, "creation_time": "2016-08-18T11:52:59Z", "capabilities":
        [], "notification_topics": [], "updated_time": null, "timeout_mins": null,
        "stack_status": "CREATE_COMPLETE", "parameters": {"OS::project_id": "058128ddeb9a4c958bb149a7229a4e85",
        "OS::stack_id": "960c3d14-205f-4899-a70f-b45b35905bd4", "OS::stack_name":
        "stack3", "image_id": "EmsRefreshSpec-Image", "network_id": "a02643f7-b3f2-46fa-bff0-df65c3948616",
        "db_password": "******", "instance_type": "m1.tiny", "db_name": "wordpress",
        "db_username": "******", "db_root_password": "******", "key_name": "EmsRefreshSpec-KeyPair"},
        "id": "960c3d14-205f-4899-a70f-b45b35905bd4", "outputs": [{"output_value":
        "http://192.168.1.5/wordpress", "description": "URL for Wordpress wiki", "output_key":
        "WebsiteURL"}], "template_description": "Heat WordPress template to support
        F20, using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n"}}'
  recorded_at: Wed, 25 Oct 2017 14:29:14 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 04076f90c051445ea2623af16c50ff6b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-631f2fe4-8d76-4d80-b2f8-363d5f435bcf
    body:
      encoding: ASCII-8BIT
      string: '{"servers_links": [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/detail?limit=1000&marker=f809bbed-72a9-40ea-9035-b4e63d7ddaac",
        "rel": "next"}], "servers": [{"status": "ACTIVE", "updated": "2016-11-28T21:27:26Z",
        "hostId": "101de76d48eaca7d9550b583251df6040c445be5a2c3b07a88c0c2cc", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:dd:19:c4", "version": 4, "addr": "192.168.1.10",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:dd:19:c4",
        "version": 4, "addr": "172.16.17.18", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/0c5006cb-c3d3-4620-8a7e-0e9bad39f74d",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/servers/0c5006cb-c3d3-4620-8a7e-0e9bad39f74d",
        "rel": "bookmark"}], "key_name": "EmsRefreshSpec-KeyPair", "image": {"id":
        "fc8ffd5b-de3f-4af3-88b3-48eee4e46204", "links": [{"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/images/fc8ffd5b-de3f-4af3-88b3-48eee4e46204",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "OS-EXT-SRV-ATTR:instance_name": "instance-00000009", "OS-SRV-USG:launched_at":
        "2016-08-18T11:58:19.000000", "OS-EXT-SRV-ATTR:hypervisor_hostname": "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com",
        "flavor": {"id": "6", "links": [{"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/flavors/6",
        "rel": "bookmark"}]}, "id": "0c5006cb-c3d3-4620-8a7e-0e9bad39f74d", "security_groups":
        [{"name": "EmsRefreshSpec-SecurityGroup2"}, {"name": "EmsRefreshSpec-SecurityGroup"}],
        "OS-SRV-USG:terminated_at": null, "OS-EXT-AZ:availability_zone": "nova", "user_id":
        "70c7838d439a4bc2a3ac06f7316c6740", "name": "EmsRefreshSpec-PoweredOn-FromSnapshot",
        "created": "2016-08-18T11:58:09Z", "tenant_id": "058128ddeb9a4c958bb149a7229a4e85",
        "OS-DCF:diskConfig": "MANUAL", "os-extended-volumes:volumes_attached": [],
        "accessIPv4": "", "accessIPv6": "", "progress": 0, "OS-EXT-STS:power_state":
        1, "config_drive": "", "metadata": {}}, {"status": "SHELVED_OFFLOADED", "updated":
        "2016-08-18T11:58:45Z", "hostId": "", "OS-EXT-SRV-ATTR:host": null, "addresses":
        {"EmsRefreshSpec-NetworkPrivate": [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:30:8d:cc",
        "version": 4, "addr": "192.168.1.9", "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr":
        "fa:16:3e:30:8d:cc", "version": 4, "addr": "172.16.17.17", "OS-EXT-IPS:type":
        "floating"}]}, "links": [{"href": "http://10.8.99.242:8774[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/detail?limit=1000&marker=f809bbed-72a9-40ea-9035-b4e63d7ddaac
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 04076f90c051445ea2623af16c50ff6b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-ded2178[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/detail?limit=1000&marker=fce8c95a-9cb4-40ef-bfd2-7346ee079374
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 04076f90c051445ea2623af16c50ff6b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-359f42bd-a00e-43a5-b2a7-b954d4db0c50
    body:
      encoding: ASCII-8BIT
      string: '{"servers_links": [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/detail?limit=1000&marker=6bd04fba-8b50-495e-8325-455d203f6c40",
        "rel": "next"}], "servers": [{"status": "ACTIVE", "updated": "2016-08-18T11:56:41Z",
        "hostId": "101de76d48eaca7d9550b583251df6040c445be5a2c3b07a88c0c2cc", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate_3":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:d0:93:9a", "version": 4, "addr": "192.168.3.3",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:d0:93:9a",
        "version": 4, "addr": "172.16.17.14", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/servers/c1385343-ef9f-4d9d-a946-4ca0e38befef",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/058128ddeb9a4c958bb149a7229a4e85/servers/c138[...]
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dea3228b5f234c8697b11ea49236ca65
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-1ab9cac3-94a7-4f4d-8c59-1cfe7069a94c
    body:
      encoding: ASCII-8BIT
      string: '{"flavor": {"name": "m1.ems_refresh_spec", "links": [{"href": "http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/flavors/6",
        "rel": "self"}, {"href": "http://10.8.99.242:8774/288cd03df44f49f9ac9ed82bb4216de2/flavors/6",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": 512, "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        1, "disk": 1, "id": "6"}}'
  recorded_at: Wed, 25 Oct 2017 14:29:22 GMT
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/058128ddeb9a4c958bb149a7229a4e85/os-floating-ips
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 04076f90c051445ea2623af16c50ff6b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-e3427c0b-bfca-42b7-aed1-f0da5c3e539c
    body:
      encoding: ASCII-8BIT
      string: '{"floating_ips": [{"instance_id": "c4e0ae3b-b970-4b3d-8281-226a2576ed2d",
        "ip": "172.16.17.16", "fixed_ip": "192.168.1.8", "id": "1b3ee88d-4c67-4761-944c-01d04118a733",
        "pool": "EmsRefreshSpec-NetworkPublic"}, {"instance_id": null, "ip": "172.16.17.4",
        "fixed_ip": null, "id": "2784a352-c44d-4659-8a17-0477ba0c36cb", "pool": "EmsRefreshSpec-NetworkPublic"},
        {"instance_id": "0c5006cb-c3d3-4620-8a7e-0e9bad39f74d", "ip": "172.16.17.18",
        "fixed_ip": "192.168.1.10", "id": "69ad8a41-6c33-4a6a-b37c-8d6963b8fd37",
        "pool": "EmsRefreshSpec-NetworkPublic"}, {"instance_id": "6bd04fba-8b50-495e-8325-455d203f6c40",
        "ip": "172.16.17.13", "fixed_[...]
[...]
- request:
    method: get
    uri: http://10.8.99.242:8774/v2/288cd03df44f49f9ac9ed82bb4216de2/os-aggregates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - dea3228b5f234c8697b11ea49236ca65
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-1befc6e2-ffd2-4d0c-8dd4-98b076c2b45e
    body:
      encoding: ASCII-8BIT
      string: '{"aggregates": []}'
  recorded_at: Wed, 25 Oct 2017 14:29:28 GMT
- request:
    method: get
    uri: http://10.8.99.242:8776/v2/058128ddeb9a4c958bb149a7229a4e85/volumes/detail?limit=1000&status=available
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 47e9d6172edf4596a994be4824d76e18
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-592e7e44-782a-4b06-8157-2c06ff8d6124
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-592e7e44-782a-4b06-8157-2c06ff8d6124
    body:
      encoding: ASCII-8BIT
      string: '{"volumes_links": [{"href": "http://10.8.99.242:8776/v2/058128ddeb9a4c958bb149a7229a4e85/volumes/detail?limit=1000&status=available&marker=54c50eea-82df-45f4-9fa8-ec494ca2704d",
        "rel": "next"}], "volumes": [{"attachments": [], "links": [{"href": "http://10.8.99.242:8776/v2/058128ddeb9a4c958bb149a7229a4e85/volumes/dd96d09f-62c6-4fd0-a315-53266ecaec7e",
        "rel": "self"}, {"href": "http://10.8.99.242:8776/058128ddeb9a4c958bb149a7229a4e85/volumes/dd96d09f-62c6-4fd0-a315-53266ecaec7e",
        "rel": "bookmark"}], "availability_zone": "nova", "os-vol-host-attr:host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com@lvm#lvm", "encrypted": false,
        "os-volume-replication:extended_status": null, "replication_status": "disabled",
        "snapshot_id": null, "id": "dd96d09f-62c6-4fd0-a315-53266ecaec7e", "size":
        1, "user_id": "70c7838d439a4bc2a3ac06f7316c6740", "os-vol-tenant-attr:tenant_id":
        "058128ddeb9a4c958bb149a7229a4e85", "os-vol-mig-status-attr:migstat": null,
        "metadata": {}, "status": "available", "description": "EmsRefreshSpec-Volume
        description", "multiattach": false, "os-volume-replication:driver_data": null,
        "source_volid": null, "consistencygroup_id": null, "os-vol-mig-status-attr:name_id":
        null, "name": "EmsRefreshSpec-Volume-5", "bootable": "false", "created_at":
        "2016-08-18T11:52:40.000000", "volume_type": "iscsi"}, {"attachments": [],
        "links": [{"href": "http://10.8.99.242:8776/v2/058128ddeb9a4c958bb149a7229a4e85/volumes/54c50eea-82df-45f4-9fa8-ec494ca2704d",
        "rel": "self"}, {"href": "http://10.8.99.242:8776/058128ddeb9a4c958bb149a7229a4e85/volumes/54c50eea-82df-45f4-9fa8-ec494ca2704d",
        "rel": "bookmark"}], "availability_zone": "nova", "os-vol-host-attr:host":
        "dhcp-8-99-242.cloudforms.lab.eng.rdu2.redhat.com@lvm#lvm", "encrypted": false,
        "os-volume-replication:extended_status": null, "replication_status": "disabled",
        "snapshot_id": null, "id": "54c50eea-82df-45f4-9fa8-ec494ca2704d", "size":
        1, "user_id": "70c7838d439a4bc2a3ac06f7316c6740", "os-vol-tenant-attr:tenant_id":
        "058128ddeb9a4c958bb149a7229a4e85", "os-vol-mig-status-attr:migstat": null,
        "metadata": {}, "status": "available", "volume_image_metadata": {"container_format":
        "bare", "min_ram": "0", "disk_format": "qcow2", "image_name": "EmsRefreshSpec-Image",
        "image_id": "71ac9b79-2f0e-4ad8-b1ac-88fdbb42e60d", "checksum": "ee1eca47dc88f4879d8a229cc70a07c6",
        "min_disk": "0", "size": "13287936"}, "description": "EmsRefreshSpec-Volume
        description", "multiattach": false, "os-volume-replication:driver_data": null,
        "source_volid": null, "consistencygroup_id": null, "os-vol-mig-status-attr:name_id":
        null, "name": "EmsRefreshSpec-Volume-4", "bootable": "true", "created_at":
        "2016-08-18T11:52:34.000000", "volume_type": "iscsi"}]}'
  recorded_at: Wed, 25 Oct 2017 14:29:29 GMT
- request:
    method: get
    uri: http://10.8.99.242:8776/v2/058128ddeb9a4c958bb149a7229a4e85/volumes/detail?limit=1000&marker=54c50eea-82df-45f4-9fa8-ec494ca2704d&status=available
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 47e9d6172edf4596a994be4824d76e18
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-eaead117-f3bd-4ab9-8c74-25a69b3529d[...]
[...]
- request:
    method: get
    uri: http://10.8.99.242:8776/v2/058128ddeb9a4c958bb149a7229a4e85/snapshots/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 47e9d6172edf4596a994be4824d76e18
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-bdf6f434-1454-44c0-a63f-9859afecbcef
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-bdf6f434-1454-44c0-a63f-9859afecbcef
    body:
      encoding: ASCII-8BIT
      string: '{"snapshots": [{"status": "available", "os-extended-snapshot-attributes:progress":
        "100%", "description": "EmsRefreshSpec-VolumeSnapshot description", "created_at":
        "2016-08-18T11:52:21.000000", "metadata": {}, "volume_id": "7c3b91ea-9812-4d50-8666-b9dcda517ca5",
        "os-extended-snapshot-attributes:project_id": "058128ddeb9a4c958bb149a7229a4e85",
        "size": 1, "id": "243787c6-6c83-413d-8ce9-db3ba31bf5ca", "name": "EmsRefreshSpec-VolumeSnapshot_0_3"},
        {"status": "available", "os-extended-snapshot-attributes:progress": "100%",
        "description": "EmsRefreshSpec-VolumeSnapshot description", "created_at":
        "2016-08-18T11:52:03.000000", "metadata": {}, "volume_id": "7c3b91ea-9812-4d50-8666-b9dcda517ca5",
[...]
