---
http_interactions:
- request:
    method: post
    uri: http://dhcp-8-99-203.cloudforms.lab.eng.rdu2.redhat.com:5000/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"identity":{"methods":["password"],"password":{"user":{"password":"06da7a9a58124082","domain":{"id":"default"},"name":"admin"}}},"scope":{"project":{"name":"admin","domain":{"id":"default"}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Subject-Token:
      - 645eba633f984827938cefc1cee1103c
      X-Openstack-Request-Id:
      - req-38455335-812c-4628-861b-de9fa45f419e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token": {"methods": ["password"], "roles": [{"id": "9fe2ff9ee4384b1894a90878d3e92bab",
        "name": "_member_"}, {"id": "14bf56e6bd234c5095cc5fe3d618e130", "name": "admin"},
        {"id": "1f3177f9ccde44f99dd97d7833fdc902", "name": "heat_stack_owner"}, {"id":
        "4784ad909a504113bc85e02ae22bb304", "name": "SwiftOperator"}], "expires_at":
        "2017-10-25T14:39:54.885213Z", "project": {"domain": {"id": "default", "name":
        "Default"}, "id": "db1be2df7c16439cbc93fe68b2fa31f6", "name": "admin"}, "catalog":
        [{"endpoints": [{"region_id": "RegionOne", "url": "http://10.8.99.203:9696",
        "region": "RegionOne", "interface": "admin", "id": "35f36eb75fc540db9502c640a8f99e40"},
        {"region_id": "RegionOne", "url": "http://10.8.99.203:9696", "region": "RegionOne",
        "interface": "public", "id": "51341658ce5a4d7f9c0d7a3c81542491"}, {"region_id":
        "RegionOne", "url": "http://10.8.99.203:9696", "region": "RegionOne", "interface":
        "internal", "id": "826af6daf8f0402f9a44fa33cae0f5f0"}], "type": "network",
        "id": "3517f9c83104468991349d151382af7d", "name": "neutron"}, {"endpoints":
        [{"region_id": "RegionOne", "url": "http://127.0.0.1:8774/v3", "region": "RegionOne",
        "interface": "public", "id": "90ae5f1f8c8746a0af2c700a50ae20f5"}, {"region_id":
        "RegionOne", "url": "http://127.0.0.1:8774/v3", "region": "RegionOne", "interface":
        "internal", "id": "d327949069954b49a9980459dc3053e1"}, {"region_id": "RegionOne",
        "url": "http://127.0.0.1:8774/v3[...]
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/db1be2df7c16439cbc93fe68b2fa31f6/os-availability-zone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 645eba633f984827938cefc1cee1103c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-144a7045-c6a2-4dc3-9ce9-da6c8ffc0468
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "hosts":
        null, "zoneName": "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:39:55 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:8776/v2/db1be2df7c16439cbc93fe68b2fa31f6/os-availability-zone.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ccb6b126656740c38945975378221799
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Compute-Request-Id:
      - req-2d097dfa-30e7-4b70-9092-ab078a838ff3
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-2d097dfa-30e7-4b70-9092-ab078a838ff3
    body:
      encoding: ASCII-8BIT
      string: '{"availabilityZoneInfo": [{"zoneState": {"available": true}, "zoneName":
        "nova"}]}'
  recorded_at: Wed, 25 Oct 2017 13:39:56 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:5000/v3/users/d9f669dc20734d6ebb3ba1c81d20434a/projects?domain_id=default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - c475702f2f43414ab4361cb86f45ae79
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Openstack-Request-Id:
      - req-d47d5892-badb-44a9-b5ed-e867fb6631c5
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"links": {"self": "http://10.8.99.203:5000/v3/users/d9f669dc20734d6ebb3ba1c81d20434a/projects?domain_id=default",
        "previous": null, "next": null}, "projects": [{"description": "", "links":
        {"self": "http://10.8.99.203:5000/v3/projects/07a91c98f0d944bbaeb366e8aed7586e"},
        "enabled": true, "id": "07a91c98f0d944bbaeb366e8aed7586e", "parent_id": null,
        "domain_id": "default", "name": "EmsRefreshSpec-Project-No-Admin-Role"}, {"description":
        "", "links": {"self": "http://10.8.99.203:5000/v3/projects/4f38d1fb46c442b5bfc64430df59b614"},
        "enabled": true, "id": "4f38d1fb46c442b5bfc64430df59b614", "parent_id": "ccb257894be949f3a27a1fdfa5c7d60f",
        "domain_id": "default", "name": "EmsRefreshSpec-Project-parent-test-3"}, {"description":
        "", "links": {"self": "http://10.8.99.203:5000/v3/projects/64f2f4b7914c4f3b91054315e93dc472"},
    [...]
[...]
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/os-services?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0760f7a3855d4c3e9d348e442a5bea37
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-601413ef-da4d-4b6f-93bd-a208df4efe4d
    body:
      encoding: ASCII-8BIT
      string: '{"services": [{"status": "enabled", "binary": "nova-consoleauth", "zone":
        "internal", "state": "up", "updated_at": "2017-10-25T13:39:52.000000", "host":
        "dhcp-8-99-203.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason": null,
        "id": 1}, {"status": "enabled", "binary": "nova-scheduler", "zone": "internal",
        "state": "up", "updated_at": "2017-10-25T13:39:57.000000", "host": "dhcp-8-99-203.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 2}, {"status": "enabled", "binary": "nova-conductor",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T13:39:54.000000",
        "host": "dhcp-8-99-203.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 3}, {"status": "enabled", "binary": "nova-compute", "zone": "nova",
        "state": "up", "updated_at": "2017-10-25T13:39:54.000000", "host": "dhcp-8-99-203.cloudforms.lab.eng.rdu2.redhat.com",
        "disabled_reason": null, "id": 4}, {"status": "enabled", "binary": "nova-cert",
        "zone": "internal", "state": "up", "updated_at": "2017-10-25T13:39:59.000000",
        "host": "dhcp-8-99-203.cloudforms.lab.eng.rdu2.redhat.com", "disabled_reason":
        null, "id": 5}]}'
  recorded_at: Wed, 25 Oct 2017 13:40:00 GMT
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/os-services?limit=1000&marker=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0760f7a3855d4c3e9d348e442a5bea37
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6fb2ef9f-540a-45b0-9784-5e64df12cc9d
    body[...]
[...]
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/flavors/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0760f7a3855d4c3e9d348e442a5bea37
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-26cd9ddb-b6a6-42a0-8067-962c6fb2429a
    body:
      encoding: ASCII-8BIT
      string: '{"flavors": [{"name": "m1.tiny", "links": [{"href": "http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/flavors/1",
        "rel": "self"}, {"href": "http://10.8.99.203:8774/07a91c98f0d944bbaeb366e8aed7586e/flavors/1",
        "rel": "bookmark"}], "ram": 512, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 1, "id": "1"}, {"name": "m1.small", "links": [{"href": "http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/flavors/2",
        "rel": "self"}, {"href": "http://10.8.99.203:8774/07a91c98f0d944bbaeb366e8aed7586e/flavors/2",
        "rel": "bookmark"}], "ram": 2048, "OS-FLV-DISABLED:disabled": false, "vcpus":
        1, "swap": "", "os-flavor-access:is_public": true, "rxtx_factor": 1.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}], "flavors_links": [{"href": "http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/flavors/detail?limit=1000&marker=2",
        "rel": "next"}]}'
  recorded_at: Wed, 25 Oct 2017 13:40:05 GMT
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/flavors/detail?limit=1000&marker=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0760f7a3855d4c3e9d348e442a5bea37
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-499fee6e-4b1f-401b-99e8-7026f993e664
    b[...]
[...]
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/db1be2df7c16439cbc93fe68b2fa31f6/flavors/7/os-flavor-access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 645eba633f984827938cefc1cee1103c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-e0e78b07-29f1-46a9-92f9-e6612176f64c
    body:
      encoding: ASCII-8BIT
      string: '{"flavor_access": [{"tenant_id": "64f2f4b7914c4f3b91054315e93dc472",
        "flavor_id": "7"}]}'
  recorded_at: Wed, 25 Oct 2017 13:40:14 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:9292/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6722349a4fe2470883b5ed86d26b7090
  response:
    status:
      code: 300
      message: Multiple Choices
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"versions": [{"status": "CURRENT", "id": "v2.3", "links": [{"href":
        "http://10.8.99.203:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v2.2", "links": [{"href": "http://10.8.99.203:9292/v2/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v2.1", "links": [{"href": "http://10.8.99.203:9292/v2/",
        "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.0", "links": [{"href":
        "http://10.8.99.203:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id":
        "v1.1", "links": [{"href": "http://10.8.99.203:9292/v1/", "rel": "self"}]},
        {"status": "SUPPORTED", "id": "v1.0", "links": [{"href": "http://10.8.99.203:9292/v1/",
        "rel": "self"}]}]}'
  recorded_at: Wed, 25 Oct 2017 13:40:15 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:9292/v2/images?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 76f486b11b734e9786cf610d11a4dde0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-f390a560-7175-4200-81ae-ed3555a270e5
    body:
      encoding: ASCII-8BIT
      string: '{"images": [{"image_state": "available", "container_format": "bare",
        "min_ram": 0, "ramdisk_id": null, "updated_at": "2016-08-19T08:51:48Z", "file":
        "/v2/images/29a810f8-f374-4bbe-a782-bdb82275fc18/file", "owner": "64f2f4b7914c4f3b91054315e93dc472",
        "base_image_ref": "28247f24-d613-4a5c-88b8-f9abce0a8284", "size": 22085632,
        "user_id": "d9f669dc20734d6ebb3ba1c81d20434a", "image_type": "snapshot", "self":
        "/v2/images/29a810f8-f374-4bbe-a782-bdb82275fc18", "disk_format": "qcow2",
        "id": "29a810f8-f374-4bbe-a782-bdb82275fc18", "owner_id": "64f2f4b7914c4f3b91054315e93dc472",
        "status": "active", "image_location": "snapshot", "tags": [], "kernel_id":
        null, "visibility": "private", "min_disk": 1, "virtual_size": null, "instance_uuid":
        "5e18d6ef-1c62-49b9-8808-f029325d9aad", "name": "EmsRefreshSpec-Shelved-shelved",
        "checksum": "a53be82a0046d0ffd590fec6534f0cbc", "created_at": "2016-08-19T08:51:42Z",
        "protected": false, "schema": "/v2/schemas/image"}, {"image_state": "available",
        "container_format": "bare", "min_ram": 0, "ramdisk_id": null, "updated_at":
        "2016-08-19T08:51:12Z", "file": "/v2/images/75d6a926-7ebf-45a6-83fe-99cafeaec14b/file",
        "owner": "64f2f4b7914c4f3b91054315e93dc472", "base_image_ref": "28247f24-d613-4a5c-88b8-f9abce0a8284",
        "size": 22020096, "user_id": "d9f669dc20734d6ebb3ba1c81d20434a", "image_type":
        "snapshot", "self": "/v2/images/75d6a926-7ebf-45a6-83fe-99cafe[...]
- request:
    method: get
    uri: http://10.8.99.203:9292/v2/images?limit=1000&marker=28247f24-d613-4a5c-88b8-f9abce0a8284
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 76f486b11b734e9786cf610d11a4dde0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-fb154094-9bac-4816-aa26-1521641a7c7d
    body:
      encoding: ASCII-8BIT
      string: '{"images": [], "schema": "/v2/schemas/images", "first": "/v2/images?limit=1000"}'
  recorded_at: Wed, 25 Oct 2017 13:40:16 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:9292/v2/images/29a810f8-f374-4bbe-a782-bdb82275fc18/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 76f486b11b734e9786cf610d11a4dde0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-7d3f4761-f5d1-4892-92f4-0486d05d35a7
    body:
      encoding: ASCII-8BIT
      string: '{"members": [], "schema": "/v2/schemas/members"}'
  recorded_at: Wed, 25 Oct 2017 13:40:25 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/os-keypairs?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0760f7a3855d4c3e9d348e442a5bea37
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-87f5a4b9-6cd0-439b-9371-3404aa7a2993
    body:
      encoding: ASCII-8BIT
      string: '{"keypairs": [{"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDXwUenl3X95fSgAVH2T2n0R9m+SbNHTI8Nc/3HB+exAi+chc5XXttVlStVzZrsoOPU5zxdMRhda7hKx8B667bSa4VjWpYSJxSZfrDn5Pzy/yeuYyDVy5vDouDBSyilAyPyjpJ2DRnQa4cY9alPYYIhE/gSXxbPa6lYF44r0YcIHwQ7VCQChGw4Ytl8M3kszKFrZuiwDNzBym5qdZDh/9OY3led+qHbyTA5Q7GEHzh+9h96RXpcpx3QGrbvxFuGipdJijxOzRuD8Q/3Hmj3qP1yEUrZS9OV6CR78iJ8AQVQIPQqZ61cnP3V1D6sMDpQ9vX0SyXpgBxl6hSUpPbE1UhD
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair", "fingerprint": "af:39:e2:2a:38:a6:6e:01:99:f4:f6:14:f0:46:18:77"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDH7DeBPSp7kVr+7TM8w/dAwx2uOqY3ZQfuCTUNAj10ABs0VKBwjP3VXbwHrITfJuNAF/zEq+kfs5RMSCHNdIu8nYnV6FpxvaWJtj5ruMZ7TrRnrt4CY/r4+2v5czS32FIEEAPd0smLnEBiMmBg3yd6uXiM+Kt50VX/ecSGWIfT19j4ujErrznInbmopt0smcCDH63rSghqFXzXFejOJm2gnb1WC+9bSN9osPrYIECFgPCcS+bIUbzzKqCZGHzZHcUqhhXnms15WvcmxS1JFUYYzhdNZfjfiYoG1G2bIwIRMK7ZhZW9ysnV8JgtRzOn0VBmM4Zt8aMFR18ZiP7yIt8p
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-2", "fingerprint": "2a:e8:ac:8d:19:be:66:3b:0d:f3:4a:27:bd:ec:50:59"}},
        {"keypair": {"public_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBzf2El2/JXrHGZzKYJPNiqL9xeaDMq4wYi0UVFkAotNtWGZ8zj4nz4LQKPbu4paXXSleVp6xXupO9WUuL299CVYvdlp6w1wVs/b6hSvSAy6fPrQY2Pw05sfBZdZbAmsHSsffeWBYXEAL9bYn8MkZ7ztCKu8wSUPtgxsG5jX8FHSC+lxMuIOurVPW8qepu4nBUpPGXk5g9RifWiTlo3kmBMIYy112bzO/gGojxgYmOhlThVTUWCNZ5qDF1SivizqiMiciPRgC8O1IysSJx/r8AAOU0EFQDMfMKoXM8uzsiNd1fNclbmpNWRexw+CRC+w0gtO16N7DhcLH1GzNca3dP
        Generated-by-Nova\n", "name": "EmsRefreshSpec-KeyPair-3", "fingerprint": "d1:0a:f0:e9:9a:88:03:0c:8a:3b:a5:f1:93:bb:d0:c0"}}]}'
  recorded_at: Wed, 25 Oct 2017 13:40:26 GMT
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/os-keypairs?limit=1000&marker=EmsRefreshSpec-KeyPair-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0760f7a3855d4c3e9d348e442a5bea37
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-03a605b4-492c-4de2-911[...]
[...]
- request:
    method: get
    uri: http://10.8.99.203:8004/v1/07a91c98f0d944bbaeb366e8aed7586e/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a7493f79c4b144ed84a4f45c86a76459
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-acbe7756-499a-46ac-b583-bb38a4efa921
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 13:40:31 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks?limit=1000&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a18927a5ed9e4de08e0dfd3b24c7a582
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-e3d1ca51-b86a-4fc8-baad-570a42933240
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": [{"parent": null, "description": "Heat WordPress template
        to support F20, using only Heat OpenStack-native resource types, and without
        the requirement for heat-cfntools in the image. WordPress is web software
        you can use to create a beautiful website or blog. This template installs
        a single-instance WordPress deployment using a local MySQL database to store
        the data.\n", "links": [{"href": "http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks/stack3/94147bcc-4047-446e-a84e-79240e874de4",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack3", "stack_user_project_id": "c8036f41489a47e3a38f471437852054",
        "creation_time": "2016-08-19T08:45:51Z", "updated_time": null, "stack_owner":
        null, "stack_status": "CREATE_COMPLETE", "id": "94147bcc-4047-446e-a84e-79240e874de4"},
        {"parent": null, "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "links": [{"href":
 [...]
- request:
    method: get
    uri: http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks?limit=1000&marker=3aef283f-6851-48e7-bb95-207e204829bd&show_nested=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a18927a5ed9e4de08e0dfd3b24c7a582
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-9e012270-74c5-4c9e-a257-d772f7da904b
    body:
      encoding: ASCII-8BIT
      string: '{"stacks": []}'
  recorded_at: Wed, 25 Oct 2017 13:40:33 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks/stack3/94147bcc-4047-446e-a84e-79240e874de4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a18927a5ed9e4de08e0dfd3b24c7a582
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-4bf12029-9909-4417-90da-460598c66e04
    body:
      encoding: ASCII-8BIT
      string: '{"stack": {"parent": null, "disable_rollback": true, "description":
        "Heat WordPress template to support F20, using only Heat OpenStack-native
        resource types, and without the requirement for heat-cfntools in the image.
        WordPress is web software you can use to create a beautiful website or blog.
        This template installs a single-instance WordPress deployment using a local
        MySQL database to store the data.\n", "links": [{"href": "http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks/stack3/94147bcc-4047-446e-a84e-79240e874de4",
        "rel": "self"}], "stack_status_reason": "Stack CREATE completed successfully",
        "stack_name": "stack3", "stack_user_project_id": "c8036f41489a47e3a38f471437852054",
        "stack_owner": null, "creation_time": "2016-08-19T08:45:51Z", "capabilities":
        [], "notification_topics": [], "updated_time": null, "timeout_mins": null,
        "stack_status": "CREATE_COMPLETE", "parameters": {"OS::project_id": "64f2f4b7914c4f3b91054315e93dc472",
        "OS::stack_id": "94147bcc-4047-446e-a84e-79240e874de4", "OS::stack_name":
        "stack3", "image_id": "EmsRefreshSpec-Image", "network_id": "c3e6f58b-85b6-467e-8b39-df84f5a24819",
        "db_password": "******", "instance_type": "m1.tiny", "db_name": "wordpress",
        "db_username": "******", "db_root_password": "******", "key_name": "EmsRefreshSpec-KeyPair"},
        "id": "94147bcc-4047-446e-a84e-79240e874de4", "outputs": [{"output_value":
        "http://192.168.1.5/wordpress", "description": "URL for Wordpress wiki", "output_key":
        "WebsiteURL"}], "template_description": "Heat WordPress template to support
        F20, using only Heat OpenStack-native resource types, and without the requirement
        for heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n"}}'
  recorded_at: Wed, 25 Oct 2017 13:40:37 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks/stack3/94147bcc-4047-446e-a84e-79240e874de4/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a18927a5ed9e4de08e0dfd3b24c7a582
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-50131170-0840-4d9b-af75-9d179991f606
    body:
      encoding: ASCII-8BIT
      string: '{"outputs": {"WebsiteURL": {"description": "URL for Wordpress wiki",
        "value": {"str_replace": {"params": {"host": {"get_attr": ["wordpress_instance",
        "first_address"]}}, "template": "http://host/wordpress"}}}}, "heat_template_version":
        "2013-05-23", "description": "Heat WordPress template to support F20, using
        only Heat OpenStack-native resource types, and without the requirement for
        heat-cfntools in the image. WordPress is web software you can use to create
        a beautiful website or blog. This template installs a single-instance WordPress
        deployment using a local MySQL database to store the data.\n", "parameters":
        {"instance_type": {"default": "m1.small", "type": "string", "description":
        "Instance type for WordPress server", "constraints": [{"description": "instance_type
        must be one of m1.small, m1.medium or m1.large", "allowed_values": ["m1.tiny",
        "m1.small", "m1.medium", "m1.large"]}]}, "network_id": {"type": "string",
        "description": "Name or ID of the network to use"}, "db_password": {"default":
        "admin", "hidden": true, "type": "string", "description": "The WordPress database
        admin account password", "constraints": [{"length": {"max": 41, "min": 1},
        "description": "db_password must be between 1 and 41 characters"}, {"allowed_pattern":
        "[a-zA-Z0-9]*", "description": "db_password must contain only alphanumeric
        characters"}]}, "image_id": {"default": "fedora-20.x86_64", "type": "string",
        "description": "Name or ID of the image to use for the WordPress server. Recommended
        values are fedora-20.i386 or fedora-20.x86_64; get them from http://cloud.fedoraproject.org/fedora-20.i386.qcow2
        or http://cloud.fedoraproject.org/fedora-20.x86_64.qcow2 .\n"}, "db_name":
        {"default": "wordpress", [...]
- request:
    method: get
    uri: http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks/stack3/94147bcc-4047-446e-a84e-79240e874de4/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - a18927a5ed9e4de08e0dfd3b24c7a582
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Openstack-Request-Id:
      - req-8c7a04db-34c9-4903-b780-3b66d8224981
    body:
      encoding: ASCII-8BIT
      string: '{"resources": [{"resource_name": "wordpress_instance", "links": [{"href":
        "http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks/stack3/94147bcc-4047-446e-a84e-79240e874de4/resources/wordpress_instance",
        "rel": "self"}, {"href": "http://10.8.99.203:8004/v1/64f2f4b7914c4f3b91054315e93dc472/stacks/stack3/94147bcc-4047-446e-a84e-79240e874de4",
        "rel": "stack"}], "logical_resource_id": "wordpress_instance", "resource_status":
        "CREATE_COMPLETE", "updated_time": "2016-08-19T08:45:51Z", "required_by":
        [], "resource_status_reason": "state changed", "physical_resource_id": "0072af8f-a12a-47d6-985f-c08a4e093d84",
        "resource_type": "OS::Nova::Server"}]}'
  recorded_at: Wed, 25 Oct 2017 13:40:39 GMT
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/07a91c98f0d944bbaeb366e8aed7586e/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0760f7a3855d4c3e9d348e442a5bea37
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-904af77e-24f1-4002-8e89-cbc4e482882a
    body:
      encoding: ASCII-8BIT
      string: '{"servers": []}'
  recorded_at: Wed, 25 Oct 2017 13:40:40 GMT
[...]
- request:
    method: get
    uri: http://10.8.99.203:8774/v2/64f2f4b7914c4f3b91054315e93dc472/servers/detail?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - afb4bd15d3c94aba9b19f4b152e98886
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-efcf6360-a6eb-43c4-8183-192ceed689e4
    body:
      encoding: ASCII-8BIT
      string: '{"servers_links": [{"href": "http://10.8.99.203:8774/v2/64f2f4b7914c4f3b91054315e93dc472/servers/detail?limit=1000&marker=5e18d6ef-1c62-49b9-8808-f029325d9aad",
        "rel": "next"}], "servers": [{"status": "SHUTOFF", "updated": "2017-03-14T03:57:56Z",
        "hostId": "61d312dc5ecfd90d6d9df6a4e123c62acb02acbaea3632f00504c149", "OS-EXT-SRV-ATTR:host":
        "dhcp-8-99-203.cloudforms.lab.eng.rdu2.redhat.com", "addresses": {"EmsRefreshSpec-NetworkPrivate":
        [{"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:d8:66:45", "version": 4, "addr": "192.168.1.10",
        "OS-EXT-IPS:type": "fixed"}, {"OS-EXT-IPS-MAC:mac_addr": "fa:16:3e:d8:66:45",
        "version": 4, "addr": "172.16.17.18", "OS-EXT-IPS:type": "floating"}]}, "links":
        [{"href": "http://10.8.99.203:8774/v2/64f2f4b7914c4f3b91054315e93dc472/servers/d53f61d3-4661-4008-948e-fe4a209ae66f",
        "rel": "self"}, {"href": "http://10.8.99.203:8774/64f2f4b7914c4f3b91054315e93dc472/servers/d53f61d3-4661-4008-948e-fe4a209ae66f",
        "rel": "bookmark"}], "key_name": "EmsRefreshSpec-KeyPair", "image": {"id":
        "75d6a926-7ebf-45a6-83fe-99cafeaec14b", "links": [{"href": "http://10.8.99.203:8774/64f2f4b7914c4f3b91054315e93dc472/images/75d6a926-7ebf-45a6-83fe-99cafeaec14b",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "stopped", "OS-EXT-SRV-ATTR:instance_name": "instance-00000009", "OS-SRV-USG:launched_at":
[...]
